.content {
  margin: 7px 5px 50px 5px;
  color: var(--text);
  cursor: default;
}

.infobar {
  box-sizing: border-box;
  background-color: var(--background-orange);
  border-color: var(--border-orange);
  border-style: solid;
  border-width: 1px;
  margin-bottom: 5px;
  padding: 6px 10px 6px 10px;
  color: var(--text);
  word-wrap: break-word;
  font-size: 14px;
}

.content h1 {
  font-size: 18px;
  font-weight: normal;
  text-transform: lowercase;
  margin: 10px 0 !important;
}

.location {
  text-decoration: none;
  color: var(--link-primary);
}

.form {
  margin: 7px 5px 0px 5px;
}

.formContent {
  width: 520px;
}

.box {
  display: block;
  position: relative;
  width: 500px;
  background-color: var(--background-primary);
  border-radius: 4px;
  padding: 5px 10px 10px 10px;
  font-size: large;
  margin-bottom: 15px;
}

.optional {
  content: " (optional)";
  color: var(--text-info);
  font-size: smaller;
}

.boxTitleRequired::before {
  content: "*";
  color: var(--red);
}

.boxContent {
  margin-top: 5px;
  border: none;
  position: relative;
}

.boxSubtitle {
  font-size: smaller;
}

.input {
  font-size: 100%;
  width: 492px;
  padding: 3px;
  margin: 0;
  color: var(--text);
  font-family: verdana, arial, helvetica, sans-serif
}

.inputTitle {
  height: 44px;
  font-size: 18px;
}

.inputText {
  height: 100px;
  font-size: 14px;
}

.contentPreview {
  min-height: 112px;
}

@media (max-width: 640px) {
  .contentPreview {
    min-height: 104px;
  }
}

.contentPreviewMarkdown {
  font-size: 14px;
  word-wrap: break-word;
  padding-left: 4px;
  padding-top: 4px;
}

.contentPreviewTitle {
  text-transform: capitalize;
  margin: 10px 0;
}

.description {
  margin-top: 5px;
  width: 500px;
  font-size: small;
}

.notice {
  background-color: var(--background-contrast);
  padding: 10px;
  border: 1px solid var(--border-primary);
  font-size: 12px;
}

.submit {
  cursor: pointer;
  padding-top: 10px;
}

.submit button {
  -webkit-appearance: button;
  appearance: button;
  padding: 2px 6px 3px;
}

.subsDescription {
  font-size: 13px;
  font-weight: normal;
  margin-top: .5em;
  text-transform: lowercase;
}

.sub {
  display: inline-block;
  padding-right: 5px;
  text-decoration: none;
  color: var(--link-primary);;
  font-size: 13px;
  cursor: pointer;
}

.rulesTitle {
  color: var(--text-primary);;
  font-size: 16px;
  font-weight: bold;
}

.rules {
  font-size: 13px;
  margin-left: 20px;
  word-wrap: break-word;
}

.dropdown {
  display: block;
  top: 52px;
  position: absolute;
  width: calc(100% - 8px);
  margin: 0;
  border: 1px solid var(--border-text);
  background: var(--background);
  left: 0;
  z-index: 4;
  list-style: none;
}

.dropdownLink {
  text-decoration: none;
  display: block;
  padding: 5px;
  cursor: pointer;
  color: var(--text);
  overflow: hidden;
}

.dropdownItem:hover, .activeDropdownItem {
  background-color: var(--text-primary);
  color: var(--background);
}

.dropdownLink:hover {
  color: var(--background);
}

.mediaPreview {
  display: inline-block;
  position: relative;
  align-items: center;
  margin-top: 10px;
  font-size: smaller;
  text-transform: capitalize;
}

.urlCancelButton {
  display: block;
  position: absolute;
  right: 6px;
  top: 6px;
  height: 18px;
  width: 18px;
  text-align: center;
  background: var(--gray-light);
  line-height: 18px;
  font-size: 11px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}

.logoError {
  padding-left: 10px;
}

.mediaPreview img, .mediaPreview iframe, .mediaPreview video {
  max-width: 100%;
  max-height: 300px;
  box-sizing: border-box;
  border: none;
}

.options {
  text-transform: lowercase;
  font-size: 15px;
}

.options .option {
  display: block;
}

.options input {
  margin: 2px .5em 0 0;
}

@media (max-width: 640px) {
  .formContent {
    width: 100%;
  }

  .box {
    width: 100%;
    box-sizing: border-box;
  }

  .input, 
  .description {
    width: calc(100% - 6px);
    box-sizing: border-box;
  }

  .input {
    min-width: 100%;
  }
}

.uploadBox {
  position: relative;
  content: '';
  width: 100%;
  box-sizing: border-box;
  padding: 20px 10px;
  border: var(--upload-box-border);
  background-color: var(--upload-box-background);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.uploadBox.dragging {
  border-width: 5px;
}

.uploading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 100%;
}

.cameraIcon {
  background-image: url('/assets/camera.png');
  display: inline-block;
  width: 54px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: var(--filter50);
}

@media (max-width: 640px) {
  .cameraIcon {
    width: 40px;
    height: 30px;
  }
}

.dropText {
  display: inline;
  padding: 0 5px;
  color: var(--upload-box-text-color);
  filter: var(--filter50);
}

@media (max-width: 640px) {
  .dropText {
    font-size: 15px;
  }
}

.fileUploadIcon {
  background-image: url('/assets/upload.png');
  display: inline-block;
  width: 20px;
  height: 16px;
  margin-right: 5px;
  background-size: contain;
  pointer-events: none;
  vertical-align: middle;
  background-repeat: no-repeat;
  transform: translateY(-1px);
}

.uploadBox label {
  color: var(--over18-alert-color);
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 5px 12px 3px 12px;
  font-size: 12px;
  border-radius: 3px;
  margin: 3px 5px;
  background-color: var(--button-background-color);
  border-bottom: 2px solid var(--button-border-bottom);
  user-select: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  filter: var(--filter80);
}

.uploadBox label:hover {
  background-color: var(--button-background-color-hover);
}

.contentActions {
  min-height: 18px;
}

.previewButton {
  cursor: pointer;
  padding: 2px 6px 3px;
}

.formattingHelpButton {
  font-size: 11px;
  color: var(--link-primary);
  cursor: pointer;
  margin-left: 10px;
  text-transform: lowercase;
  float: right;
  line-height: 18px;
  padding-top: 2px;
}
