.content {
  margin: 7px 5px 50px 5px;
  color: var(--theme-text);
}

.infobar {
  box-sizing: border-box;
  background-color: var(--theme-background-orange);
  border-color: var(--theme-border-orange);
  border-style: solid;
  border-width: 1px;
  margin-bottom: 5px;
  padding: 6px 10px 6px 10px;
  color: var(--theme-text);
  word-wrap: break-word;
  font-size: 14px;
}

h1 {
  font-size: 18px;
  font-weight: normal;
  text-transform: lowercase;
  margin: 10px 0 !important;
}

.location {
  text-decoration: none;
  color: var(--theme-link-primary);
}

.form {
  margin: 7px 5px 0px 5px;
}

.formContent {
  width: 520px;
}

.box {
  display: block;
  position: relative;
  width: 500px;
  background-color: var(--theme-background-primary);
  border-radius: 4px;
  padding: 5px 10px 10px 10px;
  font-size: large;
  margin-bottom: 15px;
}

.optional {
  content: " (optional)";
  color: var(--theme-text-info);
  font-size: smaller;
}

.boxTitleRequired::before {
  content: "*";
  color: var(--theme-red);
}

.boxContent {
  margin-top: 5px;
  border: none;
  position: relative;
}

.boxSubtitle {
  font-size: smaller;
}

.input {
  font-size: 100%;
  width: 492px;
  padding: 3px;
  margin: 0;
  color: var(--theme-text);
  font-family: verdana, arial, helvetica, sans-serif
}

.inputTitle {
  height: 44px;
  font-size: 18px;
}

.inputText {
  height: 100px;
  font-size: 14px;
}

.contentPreviewMarkdown {
  font-size: 14px;
  word-wrap: break-word;
}

.contentPreviewTitle {
  text-transform: capitalize;
  margin: 10px 0;
}

.description {
  margin-top: 5px;
  width: 500px;
  font-size: small;
}

.notice {
  background-color: var(--theme-background-contrast);
  padding: 10px;
  border: 1px solid var(--theme-border-primary);
  font-size: 12px;
}

.submit {
  cursor: pointer;
  padding-top: 10px;
}

.submit button {
  -webkit-appearance: button;
  appearance: button;
  padding: 2px 6px 3px;
}

.subsDescription {
  font-size: 13px;
  font-weight: normal;
  margin-top: .5em;
  text-transform: lowercase;
}

.sub {
  display: inline-block;
  padding-right: 5px;
  text-decoration: none;
  color: var(--theme-link-primary);;
  font-size: 13px;
  cursor: pointer;
}

.rulesTitle {
  color: var(--theme-text-primary);;
  font-size: 16px;
  font-weight: bold;
}

.rules {
  font-size: 13px;
  margin-left: 20px;
  word-wrap: break-word;
}

.dropdown {
  display: block;
  top: 52px;
  position: absolute;
  width: calc(100% - 8px);
  margin: 0;
  border: 1px solid var(--theme-border-text);
  background: var(--theme-background);
  left: 0;
  z-index: 4;
  list-style: none;
}

.dropdownLink {
  text-decoration: none;
  display: block;
  padding: 5px;
  cursor: pointer;
  color: var(--theme-text);
  overflow: hidden;
}

.dropdownItem:hover, .activeDropdownItem {
  background-color: var(--theme-text-primary);
  color: var(--theme-background);
}

.dropdownLink:hover {
  color: var(--theme-background);
}

.mediaPreview {
  display: inline-block;
  position: relative;
  align-items: center;
  margin-top: 10px;
  font-size: smaller;
  text-transform: capitalize;
}

.logoError {
  padding-left: 10px;
}

.mediaPreview img, .mediaPreview iframe, .mediaPreview video {
  max-width: 100%;
  max-height: 300px;
  box-sizing: border-box;
  border: none;
}

.options {
  text-transform: lowercase;
  font-size: 15px;
}

.options input {
  margin: 2px .5em 0 0;
}

@media (max-width: 640px) {
  .formContent {
    width: 100%;
  }

  .box {
    width: 100%;
    box-sizing: border-box;
  }

  .input, 
  .description {
    width: calc(100% - 6px);
    box-sizing: border-box;
  }

  .input {
    min-width: 100%;
  }
}