.sidebar {
  float: right;
  width: 300px;
  position: relative;
  z-index: 5;
  background-color: var(--background);
  padding-left: 5px;
}

.titleBox {
  font-size: larger;
  color: var(--text);
  margin-bottom: 17px;
}

.title {
  font-weight: bold;
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 19px;
  word-wrap: break-word;
  padding-bottom: 5px;
}

.karma {
  font-size: 18px;
  font-weight: bold;
}

.bottom {
  border-top: 1px solid var(--border-text);
  padding-top: 2px;
  font-size: 80%;
  color: var(--text-info);
  margin-top: 5px;
}

.age {
  float: right;
}

.modListTitle {
  display: inline;
  text-transform: uppercase;
  margin: 0;
  color: gray;
  font-size: 130%;
}

.modListContent {
  margin: 0;
  padding: 5px;
  border: 1px solid gray;
  font-size: larger;
  list-style: none;
  line-height: 1.5;
}

.modList a {
  color: var(--text-primary);
}

.modList {
  padding-top: 7px;
}