.stamp {
  border-radius: 3px;
  border: 1px solid;
  display: inline-block;
  font-size: 10px;
  line-height: 14px;
  padding: 0 4px;
  text-transform: uppercase;
}

.label {
  padding-right: 8px;
}

.black {
  color: var(--theme-text);
  border-color: currentColor;
}

.yellow {
  color: var(--theme-yellow);
  border-color: var(--theme-yellow);
}

.red {
  color: var(--theme-red);
  border-color: var(--theme-red);
}

.green {
  color: var(--theme-green);
  border-color: var(--theme-green);
}

.nsfw-red {
  color: var(--theme-red-nsfw);
  border-color: var(--theme-red-nsfw);
}
