.stamp {
  border-radius: 3px;
  border: 1px solid;
  display: inline-block;
  font-size: 10px;
  line-height: 14px;
  padding: 0 4px;
  margin-top: 5px;
}

.stampSpoiler {
  color: var(--text);
  border-color: currentColor;
}

.stampPending {
  color: var(--label-pending);
  border-color: var(--label-pending);
}
