.stamp {
  border-radius: 3px;
  border: 1px solid;
  display: inline-block;
  font-size: 10px;
  line-height: 14px;
  padding: 0 4px;
  margin: 0 2px 2px 0;
}

.black {
  color: var(--text);
  border-color: currentColor;
}

.yellow {
  color: var(--yellow);
  border-color: var(--yellow);
}

.red {
  color: var(--red);
  border-color: var(--red);
}

.green {
  color: var(--green);
  border-color: var(--green);
}