.buttons {
  list-style: none;
  padding: 1px 0;
  display: block;
}

.buttonsLabel {
  padding-top: 5px;
}

.buttons li {
  display: inline-block;
  border: none;
  padding-right: 4px;
  line-height: 1.6em;
  white-space: nowrap;
}

.buttons li a {
  color: var(--text-info);
  font-weight: bold;
  text-decoration: none;
  padding: 0 1px;
}

.buttons .button {
  color: var(--text-info);
  font-weight: bold;
  text-decoration: none;
  padding: 0 4px 0 4px;
}

.buttons li:hover {
  text-decoration: underline;
}

.buttons .button span {
  cursor: pointer;
}

.buttonsReply {
  margin-left: 29px;
}

.firstButton {
  padding-left: 0 !important;
}

.label {
  padding-right: 2px;
}

.hideReply {
  display: none !important;
}

.modal {
  z-index: 7;
  background-color: var(--background);
  padding: 5px;
  color: var(--text-info);
  font-weight: bold;
  border: 1px solid var(--border-text);
}

.modal input {
  margin-right: 3px;
}

.menuItem {
  padding-bottom: 5px;
  text-transform: lowercase;
}

.menuReason {
  padding-bottom: 2px;
}

.menuItem input[type="text"] {
  padding: 2px;
  box-shadow: var(--box-shadow);
  margin-top: 2px;
}

.menuItem button {
  text-transform: capitalize;
}

.text {
  font-weight: normal !important;
  color: var(--text) !important;
}

.text:hover {
  text-decoration: none !important;
}