.addressSettings button {
  margin-left: 5px;
}

.green {
  color: var(--green);
}

.red {
  color: var(--red);
}

.yellow {
  color: var(--yellow);
}

.settingTitle {
  font-style: italic;
}

.usernameInput input {
  width: 200px;
  padding: 2px;
  box-shadow: var(--box-shadow-input);
}

.saved {
  padding-left: 5px;
  font-style: italic;
  text-transform: capitalize;
}

.checkCryptoAddress {
  margin-top: 5px;
  margin-left: -5px;
  white-space: normal;
  word-wrap: break-word;
  width: 80vw;
}

.copyAddressSetting {
  padding-bottom: 10px;
}

.copyAddressSetting button {
  margin-left: 0;
}

.cryptoAddressInfo {
  padding: 5px 20px 5px 0;
  word-break: break-word;
}

.cryptoAddressInfo a {
  color: var(--text-primary);
}

.cryptoAddressInfo a:hover {
  text-decoration: underline;
}