.modal {
  z-index: 7;
  outline: unset;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  width: min(90vw, 800px);
  max-height: 90vh;
  color: var(--text);
  font-size: large;
  background-color: var(--background);
  border: 1px solid var(--border-text);
  padding: 20px;
  position: fixed;
  transform: translate(-50%, -50%);
  font-size: large;
  overflow-y: auto;
}

.subTitle {
  font-size: 13px;
  padding-top: 5px;
}

.title, .subTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.challengeMediaWrapper {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.challengeMedia {
  width: 100%;
  max-height: 50%;
}

.challengeInput {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: var(--background);
  color: var(--text);
}

.challengeFooter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  position: relative;
}

.buttons {
  position: absolute;
  left: 20px;
}

.challengeFooter button {
  margin: 5px 5px 0 0;
  -webkit-appearance: button;
  appearance: button;
  cursor: pointer;
  padding: 2px 6px 3px;
  text-transform: lowercase;
}

.buttons button {
  display: inline-block;
  line-height: 1.2;
  white-space: nowrap;
}

@media (max-width: 480px) {
  .challengeFooter button {
    font-size: 12px;
  }
}

@media (max-width: 640px) {
  .container {
    max-width: 400px;
    width: 85vw;
    max-height: 85vh;
  }

  .challengeFooter {
    flex-direction: column;
    align-items: stretch;
  }

  .buttons {
    position: static;
    margin-top: 10px;
  }
}