.content {
  margin: 7px 5px 40px 5px;
  font-size: 12px;
  color: var(--text);
  width: 100%;
}

.category {
  display: flex;
  align-items: flex-start;
}

.categoryTitle {
  flex: 0 0 169px;
  height: 100%;
  padding: 10px;
  font-weight: bold;
  text-align: right;
  text-transform: lowercase;
}

.categorySettings {
  flex-grow: 1;
  padding: 10px 0;
}

.setting select {
  margin: 0 .5em 0 .5em;
}

.settingTitle {
  font-style: italic;
  text-transform: capitalize;
}

.categorySettings button {
  text-transform: capitalize;
  cursor: pointer;
}

.version a:hover {
  text-decoration: underline;
}

.version a {
  color: var(--link-primary);
}

.fullNodeStats {
  text-transform: lowercase;
  cursor: pointer;
  font-size: 10px;
  color: var(--link-primary);
  margin-left: 5px;
}

.checkForUpdates {
  padding-top: 10px;
}

.checkForUpdates button {
  margin: 0;
}

.settingTitle {
  padding-bottom: 2px;
  text-transform: lowercase;
}

.languageSettings a {
  text-transform: lowercase;
  cursor: pointer;
  font-size: 10px;
  color: var(--link-primary);
  margin-left: 5px;
}

.languageSettings a:hover {
  text-decoration: underline;
}

.usernameInput input {
  width: 200px;
  padding: 2px;
  box-shadow: var(--box-shadow-input);
}

.usernameInput button {
  margin-left: 5px;
}

.saved {
  padding-left: 5px;
  font-style: italic;
  text-transform: capitalize;
}

@media (max-width: 640px) {
  .categoryTitle {
    flex: 0 0 65px;
  }

  .categorySettings input {
    width: 35vw;
  }
}