.content {
  padding: 7px 5px 0px 5px;
}

div[data-viewport-type="window"] {
  position: relative !important;
}

@media (max-width: 640px) {
  .sidebarDesktop {
    display: none;
  }
  
  .sidebarMobile {
    width: 300px;
    display: inline-block;
    padding: 10px 0 0px 5px;
  }
}