.sidebar {
  float: right;
  width: 300px;
  position: relative;
  z-index: 5;
  background-color: var(--background);
  padding-left: 5px;
}

.avatar {
  width: 70px;
  height: 70px;
  margin-bottom: 5px;
  border: 1px solid var(--border-text);
}

.avatar img {
  width: 70px;
  height: 70px;
}

.titleBox {
  font-size: larger;
  color: var(--text);
  margin-bottom: 17px;
}

.title {
  font-weight: bold;
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 19px;
  word-wrap: break-word;
  padding-bottom: 5px;
}

.title button {
  padding: 0px 4px 0px 4px;
  margin-left: 5px;
  font-size: 12px;
  text-transform: capitalize;
  position: absolute;
  margin-top: 2px;
}

.displayName {
  font-family: arial, verdana, helvetica, sans-serif;
  margin-top: -2px;
  padding-bottom: 5px;
  font-size: 14px;
}

.karma {
  font-size: 18px;
  font-weight: bold;
}

.bottom {
  border-top: 1px solid var(--border-text);
  padding-top: 2px;
  font-size: 80%;
  color: var(--text-info);
  margin-top: 5px;
}

.age {
  float: right;
}

.modListTitle {
  display: inline;
  text-transform: uppercase;
  margin: 0;
  color: gray;
  font-size: 130%;
}

.modListContent {
  margin: 0;
  padding: 5px;
  border: 1px solid gray;
  font-size: larger;
  list-style: none;
  line-height: 1.5;
}

.modList a {
  color: var(--text-primary);
}

.modList {
  padding-top: 7px;
}

.blockUser {
  color: var(--text-primary);
  cursor: pointer;
}

.editButtonWrapper {
  color: var(--text-info);
  font-size: 11px;
  font-weight: normal;
  font-family: verdana, arial, helvetica, sans-serif;
}

.editButton a {
  color: var(--text-primary);
  cursor: pointer;
}

.editButton a:hover {
  text-decoration: underline;
}