.header {
  position: absolute;
  right: 0;
  top: 0px;
  bottom: unset;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 0;
  background-color: var(--background-secondary);
  padding: 4px;
  line-height: 12px;
  z-index: 999;
}

.user {
  color: var(--border-text);
}

.user a {
  text-decoration: none;
  color: var(--text-primary);
}

.separator {
 color: var(--text-primary);
 margin: 0px .7ex 0px .7ex;
 cursor: default; 
}

.textButton {
  text-decoration: none;
  font-weight: bold;
  color: var(--text-primary);
}

.textButton:hover {
  text-decoration: underline !important;
}

.iconButton {
  text-decoration: none;
  font-size: larger;
  cursor: pointer;
}

.searchBar {
  position: absolute;
  right: -2px;
  top: 46px;
  z-index: 9999;
  padding: 7px;
}

.searchBar input[type="text"] {
  white-space: nowrap;
  border: 1px solid gray;
  background-color: var(--background);
  color: var(--text);
  font-size: 13px;
  font-family: verdana;
  width: 300px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 6px;
  vertical-align: middle;
  padding-right: 25px;
}

.searchBar input[type="submit"] {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAb1BMVEUAAACJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYm4Po3NAAAAJXRSTlMAAQIEDBAREhMUJS0uQ09QV19hZG1udHmbnJ64xMXGx8jOz9DUayO31AAAANNJREFUeAGF0fFugjAUhfGDg3W1blMEC2IV8Lz/My4nEnK7jOz3380nN7XFy0fdJzL1tUeujBMXUyxh7Acaw96UBzPj2sqBmtuDc6Edqe+0U6Km/v01VJ2muJxtUnnDYqc2e0itbRVWlXbWkJ5kC6MleYUkkgcYgWSCkKSD4Uiy+CdpYfi98Pb3MRqS3fbhzxA/61e77C8/vbmorrIXdcmvtwnOhWaknNZH0Zw7mqfcbGWcuXheTqaJr6+JvHVnDxzzJkUBUZNvZGy7Y7PZZH097p8/V4YmEaKXKKIAAAAASUVORK5CYII=');
  background-size: 13px 13px;
  background-color: transparent;
  height: 13px;
  width: 13px;
  border: none;
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  font-size: 0px;
}

.searchBar input[type="submit"]:hover {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAeFBMVEUAAACJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYl3r/6iAAAAJ3RSTlMAAQMFDhMUFhcYLC02N1FfYGlydXiDhIuRuru8vt3s7e7v8PH4+fpBQVyrAAAA1ElEQVR4AYXQcW+CMBBA8cPBuk7cpgiCiFUE3/f/hksuDbmakf3+uuSl5DhR8lH1AUJfeUnl7UQ0tbktnwPGsDXlTuKxtFzfjM3OubIZ9V0eUwvQv4sqOoA27jYB/ZtEmw6Yvc4VMBayKEag0rEHGjEa4KJTAHY2lUDQCcDZ5ACyf1IAytcPXv9eowbO68sfdfQz0G2SX356c6iusIc6peetS+fKegTgINH2wav90ob1lrcz0fN0SJv46hLgej56kb1pUZaJiu1HUqbdZLXZZH3fb1+/i3YpBcVhtqwAAAAASUVORK5CYII=');
}

.searchBar input:focus {
  outline: none;
}

.searchBarVisible {
  visibility: visible;
}

.searchBarHidden {
  visibility: hidden;
}

@media (min-width: 768px) {
  .header {
    bottom: 0px;
    top: unset;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 7px;
  }
}

@media (max-width: 768px) {
  .searchBar {
    top: 25px;
  }

  .searchBar input[type="text"] {
    width: 290px;
  }
}