.header {
  position: absolute;
  right: 0;
  top: 0px;
  bottom: unset;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 0;
  background-color: var(--background-secondary);
  padding: 4px;
  line-height: 12px;
  z-index: 999;
}

.user {
  color: var(--border-text);
}

.user a {
  text-decoration: none;
  color: var(--text-primary);
}

.separator {
 color: var(--text-primary);
 margin: 0px .7ex 0px .7ex;
 cursor: default; 
}

.textButton {
  text-decoration: none;
  font-weight: bold;
  color: var(--text-primary);
}

.textButton:hover {
  text-decoration: underline !important;
}

.iconButton {
  text-decoration: none;
  font-size: larger;
  cursor: pointer;
}

@media (min-width: 768px) {
  .header {
    bottom: 0px;
    top: unset;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 7px;
  }

  .submitButton {
    display: none;
  }

  .searchButton {
    display: none;
  }
}

.searchBar {
  position: absolute;
  padding: 10px 5px 0 10px;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  background-color: var(--background-secondary);
  right: 0;
  top: 18px;
  z-index: 9;
}