.content {
  position: absolute;
  right: 0;
  top: 19px;
  bottom: unset;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 0;
  background-color: var(--background-secondary);
  padding: 4px;
  line-height: 12px;
  z-index: 8;
}

.user a {
  color: var(--text-primary);
  cursor: pointer;
}

.userDropdownButton {
  background: none no-repeat scroll center right;
  background-image: var(--account-dropdown-arrow);
  padding-right: 21px;
  margin-right: -5px;
  cursor: pointer;
}

.separator {
 color: var(--gray-contrast);
 margin: 0px .7ex 0px .7ex;
 cursor: default; 
}

.textButton {
  text-decoration: none;
  font-weight: bold;
  color: var(--text-primary);
}

.textButton:hover {
  text-decoration: underline !important;
}

.iconButton {
  text-decoration: none;
  font-size: larger;
  cursor: pointer;
}

/* @media (min-width: 768px) {
  .submitButton {
    display: none;
  }

  .searchButton {
    display: none;
  }
} */

.searchBar {
  position: absolute;
  border-radius: 7px;
  background-color: var(--background-secondary);
  right: 2px;
  top: 25px;
  z-index: 3;
}

.accountSelect {
  position: absolute;
  top: 25px;
  left: 0;
  background-color: var(--background-secondary);
  line-height: 12px;
  z-index: 5;
}

.selectedTextButton {
  color: var(--green);
}

.dropdown {
  float: left;
  cursor: pointer;
  position: relative;
}

.dropChoices {
  top: 16px;
  position: absolute;
  left: 0px;
  border: 1px solid var(--border-text);
  background-color: var(--background);
  color: var(--text-primary) ;
  white-space: nowrap;
  line-height: normal;
}

.dropdownItem {
  cursor: pointer;
  padding: 2px 3px 1px 3px;
  display: block;
}

.dropdownItem:hover {
  background-color: var(--background-primary);
}

.mailIcon {
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 10px;
  display: inline-block;
  vertical-align: middle;
}

.mailIconRead {
  background-image: url('/public/assets/mail.png');
}

.mailIconUnread {
  background-image: url('/public/assets/mail-unread.png');
}

.mailUnreadCount {
  background-color: var(--orange);
  color: #FFF;
  font-size: 8px;
  font-weight: bold;
  padding: 0px 3px;
  margin-left: 3px;
  border-radius: 2px;
  display: inline-block;
}