.content {
  position: absolute;
  right: 0;
  top: 19px;
  bottom: unset;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 0;
  background-color: var(--background-secondary);
  padding: 4px;
  line-height: 12px;
  z-index: 999;
}

.user a {
  color: var(--text-primary);
  cursor: pointer;
}

.userDropdownButton {
  background: none no-repeat scroll center right;
  background-image: url("/public/assets/buttons/droparrowgray.gif");
  padding-right: 21px;
  margin-right: -5px;
  cursor: pointer;
}

.separator {
 color: var(--text-primary);
 margin: 0px .7ex 0px .7ex;
 cursor: default; 
}

.textButton {
  text-decoration: none;
  font-weight: bold;
  color: var(--text-primary);
}

.textButton:hover {
  text-decoration: underline !important;
}

.iconButton {
  text-decoration: none;
  font-size: larger;
  cursor: pointer;
}

/* @media (min-width: 768px) {
  .submitButton {
    display: none;
  }

  .searchButton {
    display: none;
  }
} */

.searchBar {
  position: absolute;
  border-radius: 7px;
  background-color: var(--background-secondary);
  right: 2px;
  top: 25px;
  z-index: 9;
}

.accountSelect {
  position: absolute;
  top: 25px;
  left: 0;
  background-color: var(--background-secondary);
  line-height: 12px;
  z-index: 999;
}

.selectedTextButton {
  color: var(--green);
}

.dropdown {
  float: left;
  cursor: pointer;
  position: relative;
}

.dropChoices {
  top: 16px;
  position: absolute;
  left: 0px;
  border: 1px solid var(--border-text);
  background-color: var(--background);
  color: var(--text-primary) ;
  white-space: nowrap;
  line-height: normal;
}

.dropdownChoice {
  cursor: pointer;
  padding: 2px 3px 1px 3px;
  display: block;
}

.dropdownChoice:hover {
  background-color: var(--background-primary);
}