.newerPostsButton {
  position: fixed;
  left: 10%;
  z-index: 5;
  transition: top 0.3s ease-in-out;
}

.resetButton {
  display: inline-block;  
  cursor: pointer;
}


.hide {
  display: none;
}

.hideButton {
  cursor: pointer;
  padding: 0px 3px;
}