.headerArea {
  background-color: var(--background-text);
  white-space: nowrap;
  text-transform: uppercase;
  border-bottom: 1px solid var(--border-text);
  font-size: 90%;
  height: 18px;
  line-height: 18px;
  color: var(--text);
}

.widthClip {
  position: absolute;
  left: 0;
  right: 0;
}

.dropdown {
  float: left;
  padding-left: 5px;
  cursor: pointer;
  display: inline;
  position: relative;
}

.dropChoices {
  top: 18px;
  margin-top: 0;
  position: absolute;
  left: 0px;
  border: 1px solid var(--border-text);
  z-index: 100;
  background-color: var(--background);
  white-space: nowrap;
  line-height: normal;
  z-index: 9999;
}

.subsDropChoices {
  margin-left: 5px;
}

.dropdownChoice {
  cursor: pointer;
  padding: 2px 3px 1px 3px;
  display: block;
}

.dropdownChoice:hover {
  background-color: var(--background-primary);
}

.dropChoices a {
  text-decoration: none;
  color: var(--text-primary);
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.separator {
  cursor: default;
}

.selectedTitle {
  background: none no-repeat scroll center right;
  background-image: url("/public/assets/buttons/droparrowgray.gif");
  display: inline-block;
  vertical-align: bottom;
  padding-right: 21px;
  padding-left: 5px;
  color: var(--text);
  font-weight: normal;
  margin-left: -5px;
  cursor: pointer;
}

.srList {
  overflow: hidden;
}

.srList .srBar {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
}

.srList .srBar ul {
  list-style: none;
}

.srList .srBar li {
  display: inline;
  white-space: nowrap;
}

.srList .srBar li a {
  text-decoration: none;
  color: var(--text);
}

.srList .srBar li .selected {
  color: var(--text-secondary) !important;
  font-weight: bold;
}

.srList .srBar li .selected:hover {
  text-decoration: underline;
}

.srList .srBar .choice:hover {
  text-decoration: underline;
  cursor: pointer;
}

.srList .srBar .separator {
  margin: 0px .7ex 0px .7ex;
}

.homeButton {
  padding-left: 5px;
}

.moreLink {
  color: var(--text);
  text-decoration: none;
  background-color: var(--background-text);
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 5px 0 15px;
  font-weight: bold;
  margin: 0;
}

.moreLink:hover {
  text-decoration: underline;
}