.settingTitle {
  font-style: italic;
}

.accountData textarea {
  box-shadow: var(--box-shadow-input);
  font-family: monospace;
}

.accountButtons {
  display: block;
  margin-top: 2px;
}

.accountAddress {
  padding-bottom: 10px;
}

.accountAddress a {
  text-transform: lowercase;
  cursor: pointer;
  font-size: 10px;
  color: var(--link-primary);
  margin-left: 5px;
}

.accountAddress a:hover {
  text-decoration: underline;
}

.categorySettings select {
  cursor: pointer;
}

.accountButtons button {
  margin-top: 5px;
  margin-left: 0px;
}

.warning {
  text-transform: lowercase;
  font-size: 0.8em;
  color: var(--red);
  padding-bottom: 10px;
  padding-right: 10px;
}

.createAccount button {
  margin-left: 0px;
  margin-bottom: 10px;
}

@media (min-width: 640px) {
  .accountData textarea {
    width: 600px;
    height: 300px;
    max-width: 60vw;
    min-width: 300px;
    max-height: 60vh;
    min-height: 100px;
  }
}

@media (max-width: 640px) {
  .accountData textarea {
    width: 60vw;
    height: 200px;
    max-width: 70vw;
    min-height: 200px;
    min-width: 70vw;
    max-height: 60vh;
  }
}

.deleteAccountBox, .deleteAccountBox button {
  color: var(--red);
}

.deleteAccountBox {
  padding-top: 10px;
}

.editAccountButton {
  padding-top: 10px;
}