.settingTitle {
  font-style: italic;
}

.accountData textarea {
  box-shadow: var(--box-shadow-input);
}

.accountButtons {
  display: block;
  margin-top: 2px;
}

.accountAddress {
  padding-bottom: 10px;
}

.categorySettings select {
  cursor: pointer;
}

.accountButtons button {
  margin-top: 5px;
  margin-left: 0px;
}

.createAccount button {
  margin-left: 0px;
  margin-bottom: 10px;
}

@media (min-width: 640px) {
  .accountData textarea {
    width: 600px;
    height: 300px;
    max-width: 60vw;
    min-width: 300px;
    max-height: 60vh;
    min-height: 100px;
  }
}

@media (max-width: 640px) {
  .accountData textarea {
    width: 60vw;
    height: 200px;
    max-width: 70vw;
    min-height: 200px;
    min-width: 70vw;
    max-height: 60vh;
  }
}

.deleteAccountBox, .deleteAccountBox button {
  color: var(--red);
}