.avatar {
  width: 70px;
  height: 70px;
  border: 1px solid var(--border-text);
  cursor: pointer;
}

.avatarPreview {
  display: inline-block;
}

.avatar img {
  width: 70px;
  height: 70px;
}

.emptyAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  cursor: pointer;
}

.avatarSettingsForm {
  padding-top: 10px;
}

.avatarSettingsForm input {
  width: 200px;
  padding: 2px;
  box-shadow: var(--box-shadow-input);
}

.avatarSettingInput input {
  margin-bottom: 10px;
  display: block;
}

.avatarSettingInput a {
  color: var(--link-primary);
}

.avatarSettingInput a:hover {
  text-decoration: underline;
}

.settingTitle {
  font-style: italic;
  text-transform: lowercase;
}

.copyMessage {
  padding-bottom: 10px;
}

.pasteSignature span {
  display: block;
}

.pasteSignature button {
  margin-left: 5px;
}

.state {
  padding-top: 10px;
  max-width: 300px;
}

.copyMessage a {
  color: var(--text-primary);
}

.copyMessage a:hover {
  text-decoration: underline;
}