.post {
  padding: 7px 5px 0px 5px;
  margin-bottom: 200px;
}

.replyArea {
  margin: 0;
  padding: 0;
}

.repliesTitle {
  border-bottom-color: rgb(84, 91, 94);
  padding-bottom: 3px;
  border-bottom: 1px dotted gray;
  margin: 10px 10px 0px 10px;
  max-width: 80em;
}

.title {
  font-size: 16px;
  font-weight: normal;
  margin: 10px 0;
  color: var(--text)
}

.menuArea {
  border-color: currentcolor;
  color: rgb(152, 143, 129);
  border: none;
  margin: 0 10px 10px 10px;
  padding: 0;
  overflow: hidden;
  font-size: larger;
}

.spacer {
  display: inline;
  margin-right: 15px;
  margin-bottom: 5px;
}

.dropdown {
  cursor: pointer;
  display: inline;
  position: relative;
}

.selected {
  background-color: rgba(0, 0, 0, 0);
  background: none no-repeat scroll center right;
  background-image: url("/public/assets/buttons/droparrowgray.gif");
  text-decoration-color: currentcolor;
  color: rgb(152, 143, 129);
  position: relative;
  padding-right: 21px;
  text-decoration: underline;
  color: gray;
  font-weight: bold;
}

.mdContainer {
  margin: 5px 0 10px 0px;
  font-size: small;
  padding: 0 1px;
  width: 500px;
  unicode-bidi: isolate;
  font-size: small;
}

.md {
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: 400;
  max-width: 60em;
}

.textarea {
  width: 500px;
  height: 100px;
  background-color: var(--background);
  color: var(--text);
  font: normal small verdana,arial,helvetica,sans-serif;
  line-height: 1.42em;
  font-size: 1.08em;
  word-wrap: break-word;
}

@media (max-width: 540px) {
  .textarea {
    width: calc(100vw - 40px);
  }

  _::-webkit-full-page-media, _:future, :root .textarea {
    width: calc(100vw - 47px);
  }

}

.save {
  margin: 5px 5px 0 0;
  -webkit-appearance: button;
  appearance: button;
  cursor: pointer;
  padding: 2px 6px 3px;
}

.replies {
  max-width: 80em;
  margin-left: 3px;
}

.stateString {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100vw - 28px);
  width: 100vw;
}