.content {
  padding: 7px 5px 0px 5px;
  margin-bottom: 25px;
}

.replyArea {
  margin: 0;
  padding: 0;
}

.repliesTitle {
  border-bottom-color: rgb(84, 91, 94);
  padding-bottom: 3px;
  border-bottom: 1px dotted gray;
  margin: 10px 10px 0px 10px;
  max-width: 80em;
}

.title {
  font-size: 16px;
  font-weight: normal;
  margin: 10px 0;
  color: var(--text)
}

.menuArea {
  border-color: currentcolor;
  color: rgb(152, 143, 129);
  border: none;
  margin: 0 10px 10px 10px;
  padding: 0;
  overflow: hidden;
  font-size: larger;
}

.spacer {
  display: inline;
  margin-right: 15px;
}

.dropdown {
  cursor: pointer;
  display: inline;
  position: relative;
}

.selected {
  background-color: rgba(0, 0, 0, 0);
  background: none no-repeat scroll center right;
  background-image: url("/public/assets/buttons/droparrowgray.gif");
  text-decoration-color: currentcolor;
  color: rgb(152, 143, 129);
  position: relative;
  padding-right: 21px;
  text-decoration: underline;
  color: gray;
  font-weight: bold;
}

.replies {
  max-width: 80em;
  margin-left: 3px;
}

.stateString {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100vw - 28px);
  width: 100vw;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}