.content {
  margin: 7px 5px 0px 5px;
}

.notFound {
  text-align: center;
  text-transform: lowercase;
  color: var(--theme-text);
}

.notFound h1 {
  font-size: 18px;
  font-weight: 400;
  margin: 10px 0;
}

.notFound p {
  margin: 1em auto;
  font-size: 13px;
}

.content img {
  display: block;
  margin: auto;
  border: 0;
}

@media (max-width: 640px) {
  .content {
    min-width: 0;
    text-align: center;
    width: auto;
    padding: 10px;
  }

  .content img {
    width: 100%;
  }
}