.buttons {
  list-style: none;
  padding: 1px 0;
  display: block;
}

.buttons li {
  display: inline-block;
  border: none;
  padding-right: 4px;
  line-height: 1.6em;
  white-space: nowrap;
}

.buttons li a {
  color: var(--text-info);
  font-weight: bold;
  text-decoration: none;
  padding: 0 1px;
}

.buttons .button {
  color: var(--text-info);
  font-weight: bold;
  text-decoration: none;
  padding: 0 4px 0 4px;
}

.buttons li:hover {
  text-decoration: underline;
}

.buttons .button span {
  cursor: pointer;
}

.stamp {
  border-radius: 3px;
  border: 1px solid;
  display: inline-block;
  font-size: 10px;
  line-height: 14px;
  padding: 0 4px;
}

.stampPending {
  color: var(--text);
  border-color: currentColor;
}

.stampPending {
  color: var(--label-pending);
  border-color: var(--label-pending);
}

.buttonsReply {
  margin-left: 29px;
}

.firstButton {
  padding-left: 0 !important;
}