.buttons {
  list-style: none;
  padding: 1px 0;
  display: block;
}

.buttonsLabel {
  padding-top: 5px;
}

.buttons li {
  display: inline-block;
  border: none;
  padding-right: 4px;
  line-height: 1.6em;
  white-space: nowrap;
}

.buttons li a {
  color: var(--text-info);
  font-weight: bold;
  text-decoration: none;
  padding: 0 1px;
}

.buttons .button {
  color: var(--text-info);
  font-weight: bold;
  text-decoration: none;
  padding: 0 4px 0 4px;
}

.buttons li:hover {
  text-decoration: underline;
}

.buttons .button span {
  cursor: pointer;
}

.buttonsReply {
  margin-left: 29px;
}

.firstButton {
  padding-left: 0 !important;
}

.label {
  padding-right: 2px;
}