.thumbnail {
  position: relative;
  float: left;
  padding-right: 5px;
  padding-bottom: 2px;
  width: 70px;
  height: var(--height, 70px);
  z-index: 1;
}

.thumbnailHidden {
  display: none;
}

.thumbnailVisible {
  display: block;
}

.thumbnailWrapper {
  background-color: var(--background-thumbnail);
  height: 70px;
  width: 70px;
  display: inline-block;
}

.transparentThumbnailWrapper {
  background-color: transparent;
  opacity: 1;
}

.thumbnail img, .thumbnail video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.iconThumbnail {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
}

.textIcon {
  background-image: var(--thumbnail-icon-text);
}

.linkIcon {
  background-image: var(--thumbnail-icon-link);
}

.spoilerIcon {
  background-image: var(--thumbnail-icon-spoiler);
}