.content {
  margin: 7px 5px 50px 5px;
  color: var(--text);
}

h1 {
  font-size: 18px;
  font-weight: normal;
  margin: 10px 0 !important;
}

.location {
  text-decoration: none;
  color: var(--text-primary);
}

.form {
  margin: 7px 5px 0px 5px;
}

.formContent {
  width: 520px
}

.box {
  display: block;
  position: relative;
  width: 500px;
  background-color: var(--background-primary);
  border-radius: 4px;
  padding: 5px 10px 10px 10px;
  font-size: large;
  margin-bottom: 15px;
}

.optional {
  content: " (optional)";
  color: var(--text-info);
  font-size: smaller;
}

.boxTitleRequired::before {
  content: "*";
  color: red;
}

.boxContent {
  margin-top: 5px;
  border: none;
  position: relative;
}

.boxSubtitle {
  font-size: smaller;
}

.input {
  font-size: 100%;
  width: 492px;
  padding: 3px;
  margin: 0;
  border: 1px solid var(--border-text);
  background-color: var(--background);
  color: var(--text);
  font-family: verdana, arial, helvetica, sans-serif
}

.inputTitle {
  height: 60px;
  font-size: 18px;
}

.inputText {
  height: 100px;
  font-size: 14px;
}

.description {
  margin-top: 5px;
  width: 500px;
  font-size: small;
}

.notice {
  background-color: var(--background-contrast);
  padding: 10px;
  border: 1px solid var(--border-primary);
  font-size: 12px;
}

.submit {
  cursor: pointer;
  padding-top: 10px;
}

.submit button {
  -webkit-appearance: button;
  appearance: button;
  padding: 2px 6px 3px;
}

@media (max-width: 768px) {
  .formContent {
    width: 100%;
  }

  .box {
    width: 100%;
    box-sizing: border-box;
  }

  .input, 
  .description {
    width: calc(100% - 6px);
    box-sizing: border-box;
  }

  h1 {
    font-size: 16px;
  }
}

.subsDescription {
  font-size: 13px;
  font-weight: normal;
  margin-top: .5em;
  text-transform: lowercase;
}

.sub {
  display: inline-block;
  padding-right: 5px;
  text-decoration: none;
  color: #369;
  font-size: 13px;
  cursor: pointer;
}

.rulesTitle {
  color: var(--text-primary);;
  font-size: 16px;
  font-weight: bold;
}

.rules {
  font-size: 13px;
  margin-left: 20px;
  word-wrap: break-word;
}

.dropdown {
  display: block;
  top: 52px;
  position: absolute;
  width: calc(100% - 8px);
  margin: 0;
  border: 1px solid var(--border-text);
  background: var(--background);
  left: 0;
  z-index: 10;
  list-style: none;
}

.dropdownItem a {
  text-decoration: none;
  display: block;
  padding: 5px;
  cursor: pointer;
  color: var(--text);
}

.dropdownItem:hover {
  background-color: var(--text-primary);
  color: var(--background);
}

.dropdownItem a:hover {
  color: var(--background);
}