.nested {
  margin-top: 10px;
  margin-left: 25px;
  border-left: 1px dotted #DDF;
}

.replyWrapper {
 margin-top: 10px;
}

.singleReplyWrapper {
  padding-bottom: 8px;
}

.midcol {
  visibility: visible;
  width: 15px;
  float: left;
  margin-right: 7px;
  margin-left: 7px;
  background: transparent;
  overflow: hidden;
}

.arrow {
  width: 15px;
  height: 14px;
  display: block;
  cursor: pointer;
  margin: 2px 0px 0px 0px;
  display: block;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  outline: none;
}

.arrowUp {
  background-image: url("/public/assets/buttons/arrow-up.png");
}

.upvoted {
  background-image: url("/public/assets/buttons/arrow-upvoted.png") !important;
}

.arrowDown {
  background-image: url("/public/assets/buttons/arrow-down.png");
}

.downvoted {
  background-image: url("/public/assets/buttons/arrow-downvoted.png") !important;
}

.entry {
  overflow: hidden;
  margin-left: 3px;
  opacity: 1;
}

.tagline {
  color: var(--text);
  font-size: x-small;
}

.expand {
  margin-right: 3px;
  padding: 1px;
  color: var(--text-primary);
  cursor: pointer;
}

.author {
  font-weight: bold;
  margin-right: 0.5em;
  color: var(--text-primary);
  text-decoration: none;
}

.score {
  color: var(--text-info);
  font-size: x-small;  
}

.time {
  color: var(--text-info);
  font-size: x-small;
}

.stateString {
  font-size: x-small;
  color: var(--text-info);
}

.usertext {
  font-size: small;
  unicode-bidi: isolate;
  margin-top: 5px;
}

.md {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.0769230769230769em;
  font-weight: 400;
  color: var(--text);
  max-width: 60em;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.usertext a {
  color: var(--text);
  text-decoration: none;
}

.stateLabel {
  height: 0;
  display: inline-block;
  padding: 0 5px;
}

@media (max-width: 768px) {
  .md {
    padding-right: 5px;
  }
}

.moderatorBrackets {
  color: var(--text-info);
}

.moderator, .admin, .owner {
  color: var(--green);
}

.collapsedEntry .author,
.collapsedEntry .moderator,
.collapsedEntry .admin,
.collapsedEntry .owner,
.collapsedEntry .moderatorBrackets,
.collapsedEntry .time,
.collapsedEntry .children {
  color: var(--text-info) !important;
  font-style: italic !important;
}

.collapsedEntry {
  padding-left: 25px;
}

.parent {
  color: var(--text);
  margin-left: 7px;
}

.parentLink {
  font-size: small;
  margin-top: 10px;
  color: var(--link);
  outline: none;
  margin-right: .4em;
  padding: 0px;
  overflow: hidden;
  unicode-bidi: isolate;
}

.parentLink:visited {
  color: var(--link-visited);
}

.parentAuthor {
  color: var(--text-primary);
  font-weight: bold;
}

.parentSubplebbit {
  color: var(--text-primary)
}