.loading {
  padding: 7px 5px;
}

.content {
  color: var(--theme-text);
  margin-bottom: 40px;
}

.content button, .content label {
  cursor: pointer;
}

.box {
  width: 514px;
  background-color: var(--theme-background-primary);
  padding: 10px 5px;
  font-size: large;
  margin-bottom: 10px;
}

.boxTitle {
  color: var(--theme-blue);
  font-size: 15px;
  font-weight: bold;
  padding: 0px 10px;
  overflow: hidden;
  unicode-bidi: isolate;
  text-transform: lowercase;
}

.boxSubtitle {
  font-size: 10px;
  color: var(--theme-text-info);
  padding-left: 10px;
  padding-top: 1px;
  text-transform: lowercase;
}

.boxSubtitle span {
  font-size: 10px;
  vertical-align: top;
  margin-left: 2px;
  cursor: pointer;
}

.boxInput {
  margin-top: 5px;
  padding: 2px 0px 2px 8px;
  width: 500px;
}

.boxInput input {
  font-size: 100%;
  width: 492px;
  box-sizing: border-box;
  padding: 3px;
  border: 1px solid var(--theme-border-text);
  box-shadow: var(--theme-box-shadow-input);
}

.boxInput textarea {
  box-shadow: var(--theme-box-shadow-input);
  width: 492px;
  box-sizing: border-box;
  padding: 3px;
  border: 1px solid var(--theme-border-text);
  height: 100px;
  font-family: verdana, arial, helvetica, sans-serif;
  line-height: 20px;
  font-size: 14px;
}

.readOnlyAddress {
  word-wrap: break-word;
}

.readOnlyDescription {
  font-size: 14px;
  font-family: verdana, arial, helvetica, sans-serif;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.descriptionMarkdownPreviewTitle {
  margin: 10px 0;
  font-size: 16px;
  text-transform: capitalize;
}

.descriptionPreview {
  font-size: 14px;
}

.descriptionPreviewMarkdown {
  width: 300px;
  word-wrap: break-word;
  font-size: 12px;
}

.readOnlyRoleExclude {
  font-size: 12px;
}

.readOnlyActionExclude {
  font-size: 12px;
}

.readOnlyChallengeType {
  padding: 5px 0;
  font-size: 12px;
}

.excludeGroup {
  margin-top: 15px;
}

.saveOptions button {
  text-transform: lowercase;
  margin: 3px 5px;
  padding: 2px 5px 3px;
}

.saveOptions {
  text-transform: lowercase;
}

.JSONSettings textarea {
  height: 200px;
}

.JSONSettingsTitle {
  text-transform: none !important;
}

.deleteCommunity .boxTitle, .deleteCommunity button:enabled {
  color: var(--theme-red) !important;
}

.deleteCommunity button {
  margin-left: 2px;
}

.deletingString {
  font-size: 12px;
}

.noChallengeWarning {
  color: var(--theme-red);
  font-size: 12px;
  margin-left: 10px;
}

.infobar {
  max-width: 100%;
  box-sizing: border-box;
  background-color: var(--theme-background-orange);
  border-color: var(--theme-border-orange);
  border-style: solid;
  border-width: 1px;
  margin: 0px 5px 5px 0px;
  padding: 6px 10px 6px 10px;
  color: var(--theme-text);
  word-wrap: break-word;
  font-size: 14px;
  text-transform: lowercase;
}

.captchaSelect {
  padding-top: 0;
  margin-top: 3px;
}

.captchaSelect select {
  margin-bottom: 5px;
}

.captchaSelect label {
  font-size: 15px;
}

.captchaSelect input[type="checkbox"] {
  width: auto;
  vertical-align: text-bottom;
}

.captchaSelect textarea {
  margin-top: 5px;
}

.challengeOption {
  font-size: 14px;
  margin-top: 10px;
}

.challengeDescription {
  margin: 20px 0 0 0;
  font-size: 16px;
}

.challengeOptionDescription {
  margin: 5px 0;
  font-size: 12px;
}

.challengeOption label {
  font-size: 12px;
}

.challengeOption input[type="checkbox"] {
  margin-right: 3px;
  width: auto !important;
  outline: none;
  cursor: pointer;
  margin-top: 2px;
}

.challengesArray {
  margin: 5px 0;
  font-size: 15px;
}

.challenge {
  font-size: 15px;
  margin-top: 10px;
}

.challengeEditButton {
  text-transform: lowercase;
  margin: 3px 5px;
  display: inline-block;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.excludeCombination {
  margin-top: 10px;
}

.addExclude {
  margin-top: 10px;
}

.hideCombo {
  display: block;
  margin-top: 5px;
  text-transform: lowercase;
}

.rateLimitChallengeFail {
  display: block;
}

.moderator {
  font-size: 15px;
  color: var(--theme-text);
  margin-top: 15px;
}

.firstModerator {
  margin-top: 5px !important;
}

.addButton {
  display: block;
  text-transform: lowercase;
  margin-bottom: 10px;
  margin-left: 2px;
}

.moderatorAddress, .moderatorRole {
  font-size: 13px;
}

.moderatorAddress input, .moderatorRole input {
  font-size: 15px;
}

.rule {
  font-size: 15px;
  margin-top: 10px;
}

.firstRule {
  margin-top: 5px !important;
}

.rule input {
  margin-top: 3px;
}

.deleteButton {
  background: none no-repeat scroll center right;
  background-image: url("/public/assets/buttons/delete-button.png");
  padding-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.logoPreview {
  display: flex;
  align-items: center;
  height: 40px;
  margin-top: 10px;
  font-size: smaller;
  text-transform: capitalize;
}

.logoError {
  padding-left: 10px;
}

.logoPreview img {
  max-height: 40px;
  padding-left: 10px;
}

@media (min-width: 640px) {
  .content {
    padding: 7px 5px 0px 5px;
  }

  .infobar {
    max-width: calc(100% - 306px);
  }
}

@media (max-width: 853px) {
  .box, .boxInput {
    width: calc(100% - 315px);
  }

  .boxInput input, .boxInput textarea {
    width: calc(100% + 293px);
  }

  .infobar {
    max-width: calc(100% - 306px);
  }
}

@media (max-width: 640px) {
  .content {
    padding: 7px 0px 0px 5px;
  }

  .sidebar {
    display: none;
  }

  .box, .boxInput {
    width: calc(100vw - 20px);
  }

  .boxInput input, .boxInput textarea {
    width: calc(100% - 20px)
  }

  .infobar {
    max-width: 100%;
  }
}