.markdown a {
  color: var(--markdown-link);
}

.markdown ol {
  padding-left: 40px;
  white-space: normal;
  padding-bottom: 5px;
}

.markdown ul {
  padding-left: 40px;
  white-space: normal;
  padding-bottom: 5px;
}

.markdown blockquote {
  padding: 0 8px;
  margin-left: 5px;
  border-left: 2px solid var(--markdown-blockquote-border);
  color: var(--markdown-blockquote);
  white-space: normal;
}

.markdown li {
  white-space: normal;
}

.markdown h1 {
  font-size: 18px;
  margin-bottom: 15px;
}

.markdown h2 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 15px;
}

.markdown h3, .markdown h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.markdown h4 {
  font-weight: normal;
}

.markdown h5, .markdown h6 {
  font-size: 14px;
  margin-bottom: 10px;
}

.markdown h6 {
  font-weight: normal;
  text-decoration: underline;
}

.markdown p {
  margin-bottom: 5px;
}

.markdown pre, .markdown code:not(pre code) {
  border: 1px solid var(--code-border);
  background-color: var(--code-background);
  border-radius: 2px;
  margin-top: 5px;
  padding: 0 9px;
  overflow: hidden;
}

.markdown code:not(pre code) {
  display: inline-block;
}

.markdown pre {
  padding-top: 4px;
  padding-bottom: 4px;
}
