.audioEmbed {
  height: 240px !important;
  max-width: 700px !important;
}

@media (max-width: 640px) {
  .audioEmbed {
    width: 100% !important;
    max-height: 250px !important;
  }
}

.instagramEmbed {
  width: 360px !important;
  height: 635px !important;
}

@media (max-width: 640px) {
  .instagramEmbed {
    width: 100% !important;
  }
}

.redditEmbed {
  width: 500px !important;
  height: 630px !important;
}

@media (max-width: 640px) {
  .redditEmbed {
    width: 100% !important;
  }
}

.tiktokEmbed {
  width: 400px !important;
  height: 795px !important;
}

@media (max-width: 640px) {
  .tiktokEmbed {
    width: 100% !important;
  }
}

.videoEmbed {
  height: 450px !important;
  max-width: 800px !important;
  aspect-ratio: 16/9;
}

@media (max-width: 640px) {
  .videoEmbed {
    width: 100% !important;
    max-height: 250px !important;
  }
}

.xEmbed {
  height: 320px !important;
  width: 568px !important;
}

@media (max-width: 640px) {
  .xEmbed {
    width: 100% !important;
  }
}

.soundcloudEmbed {
  height: 166px !important;
  width: 600px !important;
}

.soundcloudSetsEmbed {
  height: 500px !important;
  width: 700px !important;
}

@media (max-width: 640px) {
  .soundcloudEmbed {
    width: 100% !important;
  }

  .soundcloudSetsEmbed {
    width: 100% !important;
  }
}

.pdfEmbed {
  height: 600px !important;
  width: 700px !important;
}

@media (max-width: 640px) {
  .pdfEmbed {
    width: 100% !important;
    max-height: 450px !important;
  }
}
