.content {
  color: var(--text);
  background-color: var(--background-text);
  position: fixed;
  width: 100%;
  z-index: 9999;
  animation-name: stickyMenuAnimation;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-play-state: paused;
  align-items: center;
  justify-content: space-around;
}

.hidden {
  display: none !important;
}

@keyframes stickyMenuAnimation {
  0% {
    top: 0px;
  }
  100% {
    top: -50px;
  }
}