.content {
  color: var(--text);
  background-color: var(--background-text);
  position: fixed;
  width: calc(100vw - 10px);
  padding: 5px;
  border: 1px solid var(--border-text);
  z-index: 9999;
  animation-name: stickyMenuAnimation;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-play-state: paused;
  align-items: center;
  justify-content: space-around;
}

.hidden {
  display: none !important;
}

@keyframes stickyMenuAnimation {
  0% {
    top: 0px;
  }
  100% {
    top: -50px;
  }
}

.button { 
  line-height: 18px;
  cursor: pointer;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .content {
    display: none;
  }
}

@media (max-width: 768px) {
  .content {
    display: flex;
  }
}

.button select {
  padding: 1px;
  font-size: 11px;
}

.icon {
  font-size: 15px;
  padding-bottom: 2px;
}

.searchBar {
  position: fixed;
  top: 31px;
  left: 0px;
  z-index: 9999;
}