.content {
  color: var(--text);
  background-color: var(--background-text);
  position: fixed;
  width: 100%;
  z-index: 6;
  transition: top 0.2s ease-in-out;
  align-items: center;
  justify-content: space-around;
}
