.header {
  border-bottom: 1px solid var(--border1);
  position: relative;
  background-color: var(--background2);
}

.headerBottomLeft {
  font-size: larger;
}

.container {
  height: 30px;
  display: flex;
  align-items: center;
  transform: translateY(0.5px);
}

.logo {
  margin-bottom: -18px;
  margin-left: 2px;
  max-height: 40px;
  object-fit: contain;
  transform: translateY(0.5px);
}

.logoText {
  margin-bottom: -17px;
  max-height: 26px;
  object-fit: contain;
  transform: translateY(0.5px);
}

.tabMenu {
  list-style: none;
  white-space: nowrap;
  display: inline-block;
  margin-bottom: -31px;
  padding-left: 15px;
  transform: translateY(0.5px);

  li {
    display: inline;
    font-weight: bold;
    margin: 0px 3px;

    .selected {
      color: var(--text2);
      background-color: var(--background1);
      border: 1px solid var(--border1);
      border-bottom: 1px solid var(--background1);
    }

    .choice {
      color: var(--text1);
      background-color: var(--background3);
      border-bottom: 1px solid var(--border1);
    }

    a {
      padding: 2px 6px 0 6px;
      text-decoration: none;
    }
  }
}

@media (max-width: 530px) {
  .container {
    align-items: flex-start;
    height: 50px;
  }

  .logo {
    position: absolute;
    margin-top: 3px;
    margin-left: 2px;
    transform: translateY(0.5px);
  }

  .logoText {
    position: absolute;
    margin-top: 15px;
    margin-left: 33px;
    transform: translateY(0.5px);
  }

  .tabMenu {
    padding: 37px 0 0 0;
    transform: translateY(0.5px);
  }
}

.temporary {
  position: absolute;
  right: 0;
  z-index: 999;
}