.header {
  border-bottom: 1px solid var(--border-primary);
  position: relative;
  background-color: var(--background-primary);
  font-size: 12px;
}

.container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  white-space: nowrap;
}

.logoLink {
  all: unset;
  cursor: pointer;
}

.logoContainer {
  position: relative;
  top: 0;
  left: 0;
}

.logo {
  max-height: 38px;
  margin: 0 -1px -3px 1px;
  filter: var(--filter90);
}

.avatar {
  max-height: 40px;
  margin: 0 3px;
}

.logoText {
  width: 84px;
  max-height: 26px;
  margin-top: 16px;
  margin-right: 5px;
  padding-right: 1ex;
  filter: var(--filter90);
}

@media (max-width: 640px) {
  .container {
    height: 45px;
  }

  .reducedHeight {
    padding-bottom: 0;
  }
}

.increasedHeight {
  padding-top: 19px;
}

@media (min-width: 640px) {
  .container {
    height: 45px;
  }
}

.pageName {
  font-weight: bold;
  padding-right: 1ex;
  font-variant: small-caps;
  font-size: 1.2em;
  color: var(--text);
}

.pageName a {
  color: var(--text);
  text-decoration: none;
  cursor: pointer;
}

.pageName a:hover {
  text-decoration: underline;
  text-decoration-color: currentcolor;
}

.soloPageName {
  padding-left: 10px;
}

.submitTitle {
  text-transform: uppercase;
  font-size: 11px
}

.tabMenu {
  list-style-type: none;
  white-space: nowrap;
  display: inline-block;
  margin-top: 5px;
  vertical-align: bottom;
  text-transform: lowercase;
}

.tabMenu li {
  display: inline;
  font-weight: bold;
  margin: 0px 3px;
}

.tabMenu li a {
  padding: 2px 6px 0 6px;
  background-color: var(--background-secondary);
  text-decoration: none;
  color: var(--text-primary);
}

.tabMenu .selected a {
  color: var(--green);
  background-color: var(--background);
  border: 1px solid var(--border-primary);
  border-bottom: 1px solid var(--background);
}

.tabs {
  overflow-x: auto;
  scrollbar-width: none; /* Hides the scrollbar in Firefox */
  -ms-overflow-style: none;  /* Hides the scrollbar in IE and Edge */
}

.tabs::-webkit-scrollbar {
  display: none; /* Hides the scrollbar in WebKit-based browsers */
}

@media (min-width: 640px) {
  .about {
    display: none !important;
  }

  .joinButton {
    display: none !important;
  }
}

@media (max-width: 640px) {
  .tabMenu {
    order: 1;
    margin-right: 5px;
  }

  .pageName {
    order: 2;
  }

  .joinButton {
    order: 3;
    margin-bottom: 3px;
  }
}

.singleAboutButton {
  margin-bottom: 1px;
}

.lowercase {
  text-transform: lowercase;
}