.header {
  border-bottom: 1px solid var(--border-primary);
  position: relative;
  background-color: var(--background-primary);
}

.container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.logo {
  margin-left: 2px;
  max-height: 40px;
  margin-top: 3px;
  margin-left: 2px;
}

.logoText {
  width: 84px;
  max-height: 26px;
  margin-top: 16px;
}

@media (max-width: 768px) {
  .container {
    padding-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .temporary {
    top: 0px;
    margin-top: -3px;
  }
}