.content {
  padding: 7px 5px 32px 5px;
}

.infobar {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
  box-sizing: border-box;
  background-color: var(--background-orange);
  border-color: var(--border-orange);
  border-style: solid;
  border-width: 1px;
  margin: 0px 5px 5px 0px;
  padding: 6px 10px;
  color: var(--text);
  font-size: 14px;
}

.infoContent {
  word-wrap: break-word;
  line-height: 1.4;
}

.infobar a {
  color: var(--text-primary);
  text-decoration: underline;
}

div[data-viewport-type="window"] {
  position: relative !important;
}

@media (max-width: 640px) {
  .sidebarDesktop {
    display: none;
  }
  
  .sidebarMobile {
    width: 300px;
    display: inline-block;
    padding: 10px 0 0px 5px;
  }

  .infobar {
    max-width: 100%;
  }
}

.sortDropdown {
  border-bottom: 1px dotted gray;
  padding: 5px 10px;
  margin: 5px;
  margin-top: 0;
  overflow: hidden;
  font-size: larger;
}

.dropdownTitle {
  color: var(--text) !important;
}

.dropdown {
  display: inline;
  position: relative;
  cursor: pointer;
}

.selected {
  position: relative;
  background: none no-repeat scroll center right;
  background-image: url("/assets/buttons/droparrowgray.gif");
  padding-right: 21px;
  text-decoration: underline;
  color: gray;
  font-weight: bold;
}

.dropChoices {
  margin-top: 2px;
  position: absolute;
  left: 90px;
  border: 1px solid gray;
  z-index: 100;
  background-color: var(--background);
  white-space: nowrap;
  line-height: normal;
  margin-top: 3px;
}

.filter {
  cursor: pointer;
  padding: 2px 3px 1px 3px;
  display: block;
  color: var(--text-primary);
}

.filter:hover {
  background-color: var(--background-primary);
}

.dropChoicesHidden {
  display: none;
}

.dropChoicesVisible {
  display: block;
}

.pagination {
  font-size: 12px;
  margin-top: 10px;
}

.pagination .button {
  padding: 1px 4px;
  background: var(--pagination-button-background);
  border: var(--pagination-button-border);
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
  text-transform: lowercase;
  color: var(--link-primary);
}

.pagination .button:hover {
  border: var(--pagination-button-border-hover);
}

.pagination .separator {
  margin: 0;
  margin-left: .5em;
  padding-left: .5em;
  border-left: 1px solid var(--text-info);
}

.nothingFound {
  color: var(--red);
  font-size: 13px;
  font-family: verdana, Arial, Helvetica, sans-serif;
  text-transform: lowercase;
}

.closeButton {
  cursor: pointer;
  font-size: 12px;
  margin-right: -3px;
  margin-top: -3px;
}
