.content {
  padding: 7px 5px 0px 5px;
}

div[data-viewport-type="window"] {
  position: relative !important;
}

@media (max-width: 640px) {
  .sidebarDesktop {
    display: none;
  }
  
  .sidebarMobile {
    width: 300px;
    display: inline-block;
    padding: 10px 0 0px 5px;
  }
}

.sortDropdown {
  border-bottom: 1px dotted gray;
  padding: 5px 10px;
  margin: 5px;
  margin-top: 0;
  overflow: hidden;
  font-size: larger;
}

.dropdownTitle {
  color: var(--text) !important;
}

.dropdown {
  display: inline;
  position: relative;
  cursor: pointer;
}

.selected {
  position: relative;
  background: none no-repeat scroll center right;
  background-image: url("/public/assets/buttons/droparrowgray.gif");
  padding-right: 21px;
  text-decoration: underline;
  color: gray;
  font-weight: bold;
}

.dropChoices {
  margin-top: 2px;
  position: absolute;
  left: 90px;
  border: 1px solid gray;
  z-index: 100;
  background-color: var(--background);
  white-space: nowrap;
  line-height: normal;
  margin-top: 3px;
}

.filter {
  cursor: pointer;
  padding: 2px 3px 1px 3px;
  display: block;
  color: var(--text-primary);
}

.filter:hover {
  background-color: var(--background-primary);
}

.dropChoicesHidden {
  display: none;
}

.dropChoicesVisible {
  display: block;
}