.container {
  clear: both;
  padding-bottom: 8px;
}

.midcol {
  font-weight: bold;
  font-size: small;
  float: left;
  padding-right: 7px;
  padding-left: 7px;
  background: transparent;
  overflow: hidden;
}

.arrowWrapper {
  padding-top: 2px;
}

.arrowCommon {
  width: 15px;
  height: 14px;
  display: block;
  cursor: pointer;
}

.arrowUp {
  background-image: url("/public/assets/buttons/upvote.png");
}

.arrowDown {
  background-image: url("/public/assets/buttons/downvote.png");
}


.score {
  text-align: center;
  color: var(--icon);
}

.thumbnail {
  position: relative;
  float: left;
  padding-right: 5px;
  padding-bottom: 10px;
}

.thumbnailWrapper {
  background-color: var(--background-thumbnail);
  height: 70px;
  width: 70px;
  display: inline-block;
}

.transparentThumbnailWrapper {
  background-color: transparent;
  opacity: 1;
}

.thumbnail img, .thumbnail video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.entry {
  overflow: visible;
  padding: 0;
}

.title {
  font-size: medium;
  font-weight: normal;
  overflow: hidden;
}

.link {
  text-decoration: none;
  color: var(--link);
}

.link:visited {
  color: var(--link-visited);
}

.domain {
  color: var(--text-info);
  font-size: x-small;
  white-space: nowrap;
}

.domain a {
  color: var(--text-info);
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
  max-width: 19em;
  text-decoration: none;
}

.domain:hover {
  text-decoration: underline;
  max-width: none;
}

.tagline a {
  color: var(--text-primary);
  text-decoration: none;
}

.tagline .author:hover {
  text-decoration: underline;
}

.tagline .subplebbit:hover {
  text-decoration: underline;
}

.buttonWrapper {
  padding: 2px 5px 2px 0;
  float: left;
  cursor: pointer;
}

.buttonCommon {
  background-size: cover;
  height: 23px;
  width: 23px;
  display: block;
}

.textButton {
  background-image: url("/public/assets/buttons/text-button.png");
}

.textButton:hover {
  background-image: url("/public/assets/buttons/text-button-hover.png");
}

.playButton {
  background-image: url("/public/assets/buttons/play-button.png");
}

.playButton:hover {
  background-image: url("/public/assets/buttons/play-button-hover.png");
}

.closeButton {
  background-image: url("/public/assets/buttons/close-button.png");
}

.closeButton:hover {
  background-image: url("/public/assets/buttons/close-button-hover.png");
}


.expandoHidden {
  display: none;
}

.expando {
  display: block;
  padding: 5px 0 5px 0;
  clear: left;
  position: relative;
}

.usertext {
  unicode-bidi: isolate;
  font-size: small;
}

.markdown {
  background-color: var(--background-markdown);
  border: 1px solid var(--text-primary);
  border-radius: 7px;
  padding: 5px 10px;
  font-weight: 400;
  color: var(--text-markdown);
  max-width: 60em;
  word-wrap: break-word;
  font-size: 1em;
}

.mediaPreview {
  max-width: 354px;
  overflow: auto;
  position: relative;
}

.mediaPreview img, .mediaPreview video {
  width: 100%;
  height: auto;
}

.mediaPreview iframe {
  width: 100%;
  height: 100%;
  border: none;
}