.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 60px;
  padding: 5px;
}

.editor {
  width: 100%;
  border: 1px solid var(--gray-light);
  border-radius: 5px;
  font-family: monospace;
  font-size: 14px;
  box-shadow: var(--box-shadow-input);
  overflow: auto;
}

.buttons {
  margin-top: 20px;
  font-size: 14px;
  padding-left: 10px;
  color: var(--text);
}

.buttons button {
  font-size: 14px;
  cursor: pointer;
}

.securityWarning {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin: auto;
  text-align: center;
  width: 100%;
  max-width: 650px;
  padding: 0 15px;
  box-sizing: border-box;
}

.securityWarning img {
  margin-bottom: 20px;
  margin-top: 60px;
  height: 150px;
  width: 150px;
  filter: var(--filter90);
}

@media (max-width: 640px) {
  .securityWarning img {
    height: 100px;
    width: 100px;
    margin-top: 30px;
  }

  .securityWarning h3 {
    font-size: 18px;
  }

  .securityWarning p {
    font-size: 16px;
    line-height: 22px;
  }

  .securityWarning .warningButtons {
    width: 100%;
    flex-direction: column;
  }

  .securityWarning .warningButtons button {
    width: 100%;
    margin: 5px 0;
  }
}

.securityWarning h3 {
  font-size: 24px;
  font-weight: bold;
}

.securityWarning .warning {
  unicode-bidi: isolate;
  font-size: 14px;
  color: var(--text-markdown);
  max-width: 60em;
  filter: var(--filter90);
  word-wrap: break-word;
}

.securityWarning h3 {
  font-size: 20px;
  line-height: 1.25em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.securityWarning p {
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.securityWarning .warningButtons {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 100%;
  max-width: 400px;
  padding: 0 15px;
  box-sizing: border-box;
}

.securityWarning .warningButtons button {
  color: var(--alert-color);
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 8px 12px;
  font-size: 12px;
  line-height: 20px;
  border-radius: 3px;
  flex: 1;
  margin: 3px 5px;
  background-color: var(--button-background-color);
  border-bottom: 2px solid var(--button-border-bottom);
  user-select: none;
}

@media (max-width: 640px) {
  .securityWarning .warningButtons {
    padding: 0;
  }

  .securityWarning .warningButtons button {
    margin: 5px 0;
    width: 100%;
  }
}

.securityWarning .warningButtons button:hover {
  background-color: var(--button-background-color-hover);
}

.securityWarning .warningButtons button a {
  color: var(--alert-color);
  text-decoration: none;
}