.tooltip {
  position: absolute;
  background: var(--background);
  color: var(--spoiler-tooltip-text);
  border: 1px solid var(--spoiler-tooltip-border-color);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-size: 11px !important;
  line-height: 16px;
  pointer-events: none;
  padding: 3px 6px;
  z-index: 100000;
  font: normal x-small verdana, arial, helvetica, sans-serif;
}

.tooltip::before {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  height: 0;
  margin-left: 9px;
  border: 9px solid transparent;
  border-top-color: var(--spoiler-tooltip-border-color);
  bottom: -19px;
}

.tooltip::after {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  margin-left: 9px;
  bottom: -18px;
  border: 9px solid transparent;
  border-top-color: var(--background);
}