.sidebar {
  float: right;
  width: 300px;
  position: relative;
  z-index: 5;
  background-color: var(--background);
  padding-left: 5px;
}

.titleBox {
  font-size: larger;
  color: var(--text);
  margin-bottom: 12px;
}

a {
  text-decoration: none;
  color: var(--text);
}

.title {
  font-weight: bold;
  font-size: 19px;
  word-wrap: break-word;
}

.title:hover {
  text-decoration: underline !important;
}

.subscribeContainer {
  margin-top: 5px;
}

.subscribeButton {
  margin-right: 5px;
}

.onlineIndicator {
  background-repeat: no-repeat;
  display: inline-block;
  height: 13px;
  width: 13px;
  margin: 7px 7px -2px 2px;
}

.online {
  background-image: url('/public/assets/indicator-online.png');
}

.offline {
  background-image: url('/public/assets/indicator-offline.png');
}

.onlineLine {
  text-transform: lowercase;
  padding-bottom: 5px;
}

.descriptionTitle {
  padding-top: 5px;
  color: var(--text-markdown);
}

.description {
  padding: 5px 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: var(--text-markdown);
  line-height: 15px;
}

.bottom {
  border-top: 1px solid var(--border-text);
  color: var(--text-info);
  padding-top: 2px;
  font-size: 80%;
}

.age {
  float: right;
}

.largeButton {
  text-align: center;
  position: relative;
  border: 1px solid var(--button-border-primary);
  background: var(--background) none repeat-x scroll center left;
  background-image: var(--button-large);
  background-repeat: repeat;
  font-size: 150%;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 29px;
  height: 29px;
  cursor: pointer;
  margin: 7px 0 12px 0;
  color: var(--text-primary);
}

.nub {
  position: absolute;
  top: -1px;
  right: -1px;
  height: 31px;
  width: 24px;
  background: var(--background) none no-repeat scroll center left;
  background-image: var(--button-large-nub);
  background-repeat: no-repeat;
}

.searchBarSpacer {
  height: 11px;
}

.largeButton:hover {
  background-image: var(--button-large-hover);
  border-color: var(--button-border-primary-hover);
  color: var(--background);
}

.largeButton:hover .nub {
  background-image: var(--button-large-hover-nub);
}

.list {
  margin-bottom: 12px;
}

.listTitle {
  display: inline;
  text-transform: uppercase;
  margin: 0;
  color: gray;
  font-size: 13px;
  font-weight: normal;
}

.listContent {
  margin: 0;
  padding: 5px;
  border: 1px solid var(--border-text);
  font-size: larger;
  list-style: none;
}

.listContent li {
  font-size: 12px;
  list-style: none;
}

.modsList li, .bottom a {
  text-decoration: none;
  color: var(--text-primary);
  cursor: pointer;
}

.bottom button {
  padding: 0px 2px 0px 2px;
  font-size: 9px;
  margin-left: 5px;
}

.listMore {
  color: var(--text-info) !important;
  text-align: right;
  font-size: 10px !important;
  cursor: pointer;
}

.rules {
  margin-bottom: 10px;
  margin-top: 7px;
  color: var(--text-markdown);
  line-height: 15px;
  word-wrap: break-word;
}

.rulesList {
  padding-top: 3px;
  padding-left: 40px;
}

.moderationTool {
  margin: 5px 0;
  text-transform: lowercase;
}

.selectedTool {
  font-weight: bold;
}

.moderationTool a {
  text-decoration: none;
  color: var(--text-primary);
  cursor: pointer;
}

.communitySettingsTool::before {
  background-image: url('/public/assets/community_settings.png');
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
  content: '';
  float: left;
  margin-right: 5px;
}

.postInfo {
  padding: 5px;
  border: 1px solid var(--border-primary);
  background-color: var(--background-secondary);
  font-family: arial,helvetica,sans-serif;
  font-size: larger;
  border-radius: 3px;
  color: var(--text);
  margin-bottom: 12px;
}

.postScoreNumber {
  font-size: 22px;
  font-weight: bold;
}

.postScoreWord {
  font-size: 15px;
  font-weight: bold;
}

.shareLink {
  font-size: 80%;
  margin-top: 3px;
}

.shareLink input {
  border: 1px solid var(--border-text);
  font-family: monospace;
  font-size: 140%;
  padding: 3px 2px;
  width: 175px;
  background-color: var(--background);
  color: var(--text);
}

.blockSub {
  padding-top: 10px;
  color: var(--text-primary);
  cursor: pointer;
}

.bottomButtons {
  margin-top: 10px;
  text-transform: lowercase;
}

.communitySettings {
  float: right;
}