.sidebar {
  float: right;
  width: 300px;
  position: relative;
  z-index: 5;
  background-color: var(--background);
  padding-left: 5px;
  box-sizing: border-box;
  margin-right: 5px;
}

.titleBox {
  font-size: 12px;
  color: var(--text);
  margin-bottom: 12px;
}

a {
  text-decoration: none;
  color: var(--text);
}

.title {
  font-weight: bold;
  font-size: 19px;
  word-wrap: break-word;
  font-family: arial, verdana, helvetica, sans-serif;
}

.title:hover {
  text-decoration: underline !important;
}

.subscribeContainer {
  margin-top: 5px;
}

.subscribeButton {
  margin-right: 5px;
}

.onlineIndicator {
  background-repeat: no-repeat;
  display: inline-block;
  height: 13px;
  width: 13px;
  margin: 7px 7px -2px 2px;
}

.online {
  background-image: url('/assets/indicator-online.png');
}

.offline {
  background-image: url('/assets/indicator-offline.png');
}

.onlineLine {
  padding-bottom: 5px;
}

.descriptionTitle {
  padding-top: 5px;
  color: var(--text);
}

.description {
  padding: 5px 0;
  word-wrap: break-word;
  color: var(--text);
  line-height: 15px;
  margin-right: -5px;
}

.description {
  margin-bottom: -5px;
}

.bottom {
  border-top: 1px solid var(--border-text);
  color: var(--text-info);
  padding-top: 2px;
  font-size: 80%;
  margin-right: -5px;
}

.age {
  float: right;
}

.largeButton {
  text-align: center;
  position: relative;
  border: 1px solid var(--button-border-primary);
  background: var(--background) none repeat-x scroll center left;
  background-image: var(--button-large);
  background-repeat: repeat;
  font-size: 150%;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 29px;
  height: 29px;
  cursor: pointer;
  margin-bottom: 12px;
  color: var(--text-primary);
  margin-right: -5px;
}

.nub {
  position: absolute;
  top: -1px;
  right: -1px;
  height: 31px;
  width: 24px;
  background: var(--background) none no-repeat scroll center left;
  background-image: var(--button-large-nub);
  background-repeat: no-repeat;
}

.largeButton:hover {
  background-image: var(--button-large-hover);
  border-color: var(--button-border-primary-hover);
  color: var(--background);
}

.largeButton:hover .nub {
  background-image: var(--button-large-hover-nub);
}

.largeButtonDisabled {
  background-image: var(--button-large-disabled) !important;
  border-color: var(--button-border-disabled) !important;
  color: var(--gray-button-text) !important;
  cursor: default;
}

.largeButtonDisabled .nub {
  background-image: var(--button-large-nub-disabled) !important;
}

.largeButtonDisabled:hover {
  cursor: default !important;
}

.list {
  margin-bottom: 12px;
  margin-right: -5px;
}

.listTitle {
  display: inline;
  text-transform: uppercase;
  margin: 0;
  color: gray;
  font-size: 13px;
  font-weight: normal;
}

.listContent {
  margin: 0;
  padding: 5px;
  border: 1px solid var(--border-text);
  list-style: none;
}

.listContent li {
  font-size: 12px;
  list-style: none;
}

.modsList li, .bottom a {
  text-decoration: none;
  color: var(--text-primary);
  cursor: pointer;
}

.bottom button {
  padding: 0px 2px 0px 2px;
  font-size: 9px;
  margin-left: 5px;
}

.listMore {
  color: var(--text-info) !important;
  text-align: right;
  font-size: 10px !important;
  cursor: pointer;
}

.rules {
  padding-bottom: 5px;
  padding-top: 7px;
  color: var(--text);
  line-height: 15px;
  word-wrap: break-word;
}

.rulesTitle {
  margin-bottom: 5px;
  text-transform: capitalize;
}

.moderationTool {
  margin: 5px 0;
  text-transform: lowercase;
}

.selectedTool {
  font-weight: bold;
}

.moderationTool a {
  text-decoration: none;
  color: var(--text-primary);
  cursor: pointer;
}

.communitySettingsTool::before {
  background-image: url('/assets/community_settings.png');
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
  content: '';
  float: left;
  margin-right: 5px;
}

.postInfo {
  padding: 5px;
  border: 1px solid var(--border-primary);
  background-color: var(--background-secondary);
  font-family: arial,helvetica,sans-serif;
  font-size: larger;
  border-radius: 3px;
  color: var(--text);
  margin-bottom: 12px;
}

.postScoreNumber {
  font-size: 22px;
  font-weight: bold;
}

.postScoreWord {
  font-size: 15px;
  font-weight: bold;
}

.shareLink {
  font-size: 80%;
  margin-top: 3px;
}

.shareLink input {
  border: 1px solid var(--border-text);
  font-family: monospace;
  font-size: 140%;
  padding: 3px 2px;
  width: 175px;
  background-color: var(--background);
  color: var(--text);
}

.blockSub {
  padding-top: 10px;
  color: var(--text-primary);
  cursor: pointer;
}

.bottomButtons {
  margin-top: 10px;
  text-transform: lowercase;
}

.communitySettings {
  float: right;
}

.disabledButtonDescription {
  margin: 10px 0 10px 10px;
  font-size: 11px;
  font-family: verdana, Arial, Helvetica, sans-serif;
  text-transform: lowercase;
}

.footer {
  font: normal x-small verdana, arial, helvetica, sans-serif;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
  background-color: var(--background);
  margin-top: 10px;
  margin-bottom: 20px;
  overflow: hidden;
}

.footerLogo {
  display: inline-block;
  float: left;
  margin-right: 10px;
}

.footerLogo img {
  height: 45px;
  width: auto;
  display: block;
}

.footerLinks {
  padding-top: 7px;
  overflow: hidden;
}

.footer ul {
  margin-top: 2px;
  display: flex;
  list-style: none;
  text-transform: lowercase;
  padding-left: 0;
  flex-wrap: wrap;
}

.footer li {
  white-space: nowrap;
}

.footerSeparator {
  margin: 0 2px;
  color: var(--gray-footer-separator);
}

.footer li a {
  font-size: 11px;
}

.footer a {
  color: var(--gray-footer);
}

.footer a:hover {
  text-decoration: underline;
}

.mobileFooter {
  margin-top: 20px;
  margin-bottom: 20px;
}

.blockConfirm {
  color: var(--red);
}

.blockConfirm span {
  color: var(--text-info);
  font-weight: 700;
  cursor: pointer;
}

.blockSub {
  font-weight: 700;
  color: var(--text-info);
  cursor: pointer;
}

.readOnlySettingsLink {
  margin: 7px 0 12px 0;
  text-align: center;
  text-transform: lowercase;
}

.readOnlySettingsLink a {
  color: var(--link-primary);
  text-decoration: none;
}

.moderatorStatus {
  color: var(--text-info);
  padding-top: 8px;
  padding-left: 1px;
  font-size: 10px;
}

.moderatorStatus:before {
  background-image: url('/assets/mod.png');
  background-repeat: no-repeat;
  height: 15px;
  width: 14px;
  content: '';
  float: left;
  padding-right: 6px;
}