.about {
  padding: 7px 15px 0px 15px;
}

.sidebar {
  float: right;
  width: 300px;
  position: relative;
  z-index: 999;
}

.titleBox {
  font-size: larger;
  color: var(--text)
}

a {
  text-decoration: none;
  color: var(--text);
}

.title {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 19px;
}

.title:hover {
  text-decoration: underline !important;
}

.address {
  font-size: 11px;
  color: var(--text-info);
  margin-bottom: 5px;
}

.subscribeContainer {
  margin-top: 5px;
}

.onlineIndicator {
  background-repeat: no-repeat;
  display: inline-block;
  height: 13px;
  width: 13px;
  margin: 0 7px -2px 2px;
}

.online {
  background-image: url('/public/assets/indicator-online.png');
}

.offline {
  background-image: url('/public/assets/indicator-offline.png');
}

.onlineLine {
  padding-bottom: 5px;
}

.description {
  padding-bottom: 5px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.bottom {
  border-top: 1px solid gray;
  color: var(--text-info);
  padding-top: 2px;
  font-size: 80%;
}

.age {
  float: right;
}