.button {
  color: var(--text-info);
  font-weight: bold;
  text-decoration: none;
  padding: 0 4px 0 4px;
  cursor: pointer;
}

.modal {
  z-index: 7;
  background-color: var(--background);
  padding: 1px 0;
  padding-top: 2px;
  color: var(--text);
  font-size: 12px;
  border: 1px solid var(--border-text);
  min-width: 200px;
}

.modal input[type="checkbox"] {
  margin-right: 3px;
  outline: none;
  cursor: pointer;
}

.menuItem {
  padding: 2px 3px 1px 3px;
  text-transform: lowercase;
  cursor: pointer;
}

.menuReason {
  padding-bottom: 2px;
}

.menuItem input[type="text"] {
  padding: 2px;
  box-shadow: var(--box-shadow-input);
  margin-top: 2px;
  width: calc(100% - 6px);
  margin-bottom: 2px;
}

.bottom {
  clear: both;
  display: block;
}

.bottom button {
  text-transform: lowercase;
  cursor: pointer;
  padding: 2px 6px 3px;
  margin-left: 2px;
  margin-bottom: 2px;
}

.optional {
  color: var(--text-info);
}

@supports (-moz-appearance: none) {
  .banInput {
    width: 3.5em; /* Adjust this width as needed */
  }
}