.buttonWrapper {
  padding: 2px 5px 2px 0;
  float: left;
  cursor: pointer;
}

.buttonCommon {
  background-size: cover;
  height: 23px;
  width: 23px;
  display: block;
}

.textButton {
  background-image: var(--theme-text-button);
}

.textButton:hover {
  background-image: var(--theme-text-button-hover);
}

.playButton {
  background-image: var(--theme-play-button);
}

.playButton:hover {
  background-image: var(--theme-play-button-hover);
}

.closeButton {
  background-image: var(--theme-close-button);
}

.closeButton:hover {
  background-image: var(--theme-close-button-hover);
}