.expandoHidden {
  display: none;
}

.expando {
  display: block;
  padding: 5px;
  padding-right: 0;
  clear: left;
  position: relative;
}

.usertext {
  unicode-bidi: isolate;
  font-size: small;
}

.markdown {
  background-color: var(--background-markdown);
  border: 1px solid var(--text-primary);
  border-radius: 7px;
  padding: 5px 10px;
  font-weight: 400;
  color: var(--text-markdown);
  max-width: 60em;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 14px;
}

.mediaPreview {
  overflow: auto;
  position: relative;
}

.mediaPreview img {
  max-width: 524px;
  height: auto;
  background-color: var(--background-thumbnail);
}

.mediaPreview video {
  max-width: 524px;
  max-height: 50vh;
  background-color: var(--background-thumbnail);
}

@media (max-width: 768px) {
  .mediaPreview img {
    max-width: 100%;
    background-color: var(--background-thumbnail);
  }

  .mediaPreview video {
    max-width: 100%;
    background-color: var(--background-thumbnail);
  }

  .expando {
    padding-right: 5px;
  }
}

.mediaPreview iframe {
  width: 100%;
  height: 100%;
  border: none;
  background-color: var(--background-thumbnail);
}