.expandoHidden {
  display: none;
}

.expando {
  display: block;
  padding: 5px;
  padding-right: 0;
  clear: left;
  position: relative;
}

.usertext {
  unicode-bidi: isolate;
  font-size: small;
}

.markdown {
  background-color: var(--background-markdown);
  border: 1px solid var(--text-primary);
  border-radius: 7px;
  padding: 5px 10px;
  font-weight: 400;
  color: var(--text-markdown);
  max-width: 60em;
  word-wrap: break-word;
  font-size: 14px;
  line-height: 20px;
}

.mediaPreview {
  overflow: auto;
  position: relative;
}

.mediaPreview img {
  max-width: 524px;
  height: auto;
  background-color: var(--background-thumbnail);
}

.mediaPreview video {
  max-width: 524px;
  max-height: 50vh;
  background-color: var(--background-thumbnail);
}

.mediaPreview iframe {
  width: 100%;
  height: 100%;
  border: none;
  background-color: var(--background-thumbnail);
}

.hideSpoiler {
  width: calc(100% - 7px);
  height: calc(100% - 12px);
  border-radius: 7px;
  position: absolute;
  border: 1px solid var(--text-primary);
  background-color: black;
  color: black;
  z-index: 1;
  cursor: pointer;
}

.showSpoilerButton {
  color: white;
  text-transform: lowercase;
  position: absolute;
  font-size: 12px;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

@media (max-width: 640px) {
  .mediaPreview img {
    max-width: 100%;
    background-color: var(--background-thumbnail);
  }

  .mediaPreview video {
    max-width: 100%;
    background-color: var(--background-thumbnail);
  }

  .expando {
    padding-right: 5px;
  }
}
