.container {
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
}

.row {
  display: flex;
  align-items: flex-start;
}

.leftcol {
  flex-shrink: 0;
}

.midcol {
  font-weight: bold;
  font-size: small;
  float: left;
  padding: 0 7px 0px 7px;
  background: transparent;
  overflow: hidden;
}

.arrowWrapper {
  padding-top: 2px;
}

.arrowCommon {
  width: 15px;
  height: 14px;
  display: block;
  cursor: pointer;
}

.arrowUp {
  background-image: url("/public/assets/buttons/arrow-up.png");
}

.upvoted {
  background-image: url("/public/assets/buttons/arrow-upvoted.png") !important;
}

.arrowDown {
  background-image: url("/public/assets/buttons/arrow-down.png");
}

.downvoted {
  background-image: url("/public/assets/buttons/arrow-downvoted.png") !important;
}

.score {
  text-align: center;
  color: var(--icon);
}

.entry {
  flex-grow: 1;
  overflow: visible;
  padding: 0;
}

.title {
  font-size: medium;
  font-weight: normal;
  overflow: hidden;
}

.title a {
  color: var(--link);
  text-decoration: none;
}

.title a:visited {
  color: var(--link-visited);
}

.link {
  text-decoration: none;
  color: var(--link);
}

.link:visited {
  color: var(--link-visited);
}

.domain {
  color: var(--text-info);
  font-size: x-small;
  white-space: nowrap;
}

.domain a {
  color: var(--text-info);
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
  max-width: 19em;
  text-decoration: none;
}

.domain:hover {
  text-decoration: underline;
  max-width: none;
}

.tagline a {
  color: var(--text-primary);
  text-decoration: none;
}

.tagline .author:hover {
  text-decoration: underline;
}

.tagline .subplebbit:hover {
  text-decoration: underline;
}