.button {
  color: var(--theme-text-info);
  font-weight: bold;
  text-decoration: none;
  padding: 0 4px;
  cursor: pointer;
  text-transform: lowercase;
}

.modal {
  z-index: 7;
  background-color: var(--theme-background);
  border: 1px solid var(--theme-border-text);
  outline: none;
  font-size: 12px;
}

.menuItem {
  color: var(--theme-text-primary);
  cursor: pointer;
  padding: 2px 3px 1px 3px;
  display: block;
  text-transform: lowercase;
}

.menuItem a {
  color: var(--theme-text-primary);
  text-decoration: none;
}

.menuItem:hover {
  background-color: var(--theme-background-primary);
}

@media (min-width: 640px) {
  .reportButton {
    display: none;
  }
}

@media (max-width: 640px) {
  .reportButton {
    display: block;
  }
}

.deleteConfirm {
  color: var(--theme-red);
  text-transform: lowercase;
  padding: 0 4px;
}

.deleteConfirm:hover {
  text-decoration: none !important;
}

.deleteConfirm span {
  color: var(--theme-text-info);
  font-weight: 700;
  cursor: pointer;
}
