.mdContainer {
  font-size: small;
  padding: 0 1px;
  max-width: 500px;
  unicode-bidi: isolate;
  margin-top: 5px;
  margin-bottom: -9px;
  padding-bottom: 10px;
}

.infobar {
  width: 100%;
  box-sizing: border-box;
  background-color: var(--background-orange);
  border-color: var(--border-orange);
  border-style: solid;
  border-width: 1px;
  padding: 6px 10px;
  color: var(--text);
  word-wrap: break-word;
  font-size: 14px;
}

.md {
  margin-bottom: 5px;
  font-weight: 400;
  width: 100%;
  max-width: 60em;
}

.url {
  background-color: var(--background);
  color: var(--text-markdown);
}

.spoiler {
  padding-left: 5px;
}

.mdContainerReplying {
  border-left: var(--reply-child-border-left);
  margin-left: 25px;
}

.urlHidden, .spoilerHidden {
  display: none;
}

.urlVisible, .spoilerVisible {
  display: inline-block;
}

.textarea {
  width: 100%;
  height: 100px;
  background-color: var(--background);
  color: var(--text-markdown);
  font: normal small verdana,arial,helvetica,sans-serif;
  line-height: 1.42em;
  font-size: 14px;
  word-wrap: break-word;
  box-sizing: border-box;
}

.save, .cancel, .previewButton {
  margin: 5px 5px 0 0;
  -webkit-appearance: button;
  appearance: button;
  cursor: pointer;
  padding: 2px 6px 3px;
  text-transform: lowercase;
}

.optionsButton {
  font-size: smaller;
  float: right;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 5px;
  color: var(--text-primary);
  cursor: pointer;
  text-transform: lowercase;
}

.options {
  font-size: 12px;
  padding-bottom: 2px;
  padding-top: 2px;
  display: flex;
  gap: 10px;
  margin-bottom: 0;
  overflow: hidden;
}

.markdownHelp {
  display: block;
  padding: 4px 4px 0px 4px;
  margin-top: 5px;
  border-top: 1px dotted #c0c0c0;
}

.markdownHelp table {
  width: 100%;
  margin-top: 5px;
  font-weight: 400;
  color: var(--text-markdown);
  font-size: 14px;
  border-collapse: collapse;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: gray;
}

.tableFirstRow {
  background-color: var(--yellow-table);
  text-align: center;
  text-transform: lowercase;
  font-style: italic;
}

.markdownHelp tr {
  margin: 0;
}

.markdownHelp td {
  padding: 5px;
  width: 50%;
  border: 1px solid var(--gray);
  text-align: left;
  padding: 4px 9px;
  line-height: 20px;
}

.markdownHelp p {
  margin: 0;
}

@media (max-width: 640px) {
  .mdContainer {
    max-width: calc(100vw - 31px);
  }
  
  .markdownHelp table {
    font-size: 13px;
  }
  
  .markdownHelp td {
    padding: 3px 5px;
    word-break: break-word;
    hyphens: auto;
  }
}

.editReason {
  font-size: 12px;
  float: left;
}

.editReason input {
  width: 60%;
}

.editSaveButtons {
  width: 100%;
  display: inline-block;
}

.preview {
  min-height: 98.5px;
  word-wrap: break-word;
  padding-left: 3px;
  padding-top: 4px;
  font-size: 14px;
  color: var(--text);
}

.spaces {
  background-color: var(--gray);
}