.searchBar {
  position: relative;
  z-index: 2;
  min-width: 300px;
}

.searchBar input[type="text"] {
  position: relative;
  border: 1px solid gray;
  background-color: var(--background);
  color: var(--text);
  font-size: 13px;
  font-family: verdana;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 6px 25px 6px 9px;
  text-transform: lowercase;
}

@media (max-width: 639px) {
  .mobileInfobar input[type="text"] {
    width: 100%;
  }

  .mobileInfobar .infobar {
    width: calc(100% - 22px);  
  }
}

.searchBar input[type="submit"] {
  background-color: transparent;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAb1BMVEUAAACJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYm4Po3NAAAAJXRSTlMAAQIEDBAREhMUJS0uQ09QV19hZG1udHmbnJ64xMXGx8jOz9DUayO31AAAANNJREFUeAGF0fFugjAUhfGDg3W1blMEC2IV8Lz/My4nEnK7jOz3380nN7XFy0fdJzL1tUeujBMXUyxh7Acaw96UBzPj2sqBmtuDc6Edqe+0U6Km/v01VJ2muJxtUnnDYqc2e0itbRVWlXbWkJ5kC6MleYUkkgcYgWSCkKSD4Uiy+CdpYfi98Pb3MRqS3fbhzxA/61e77C8/vbmorrIXdcmvtwnOhWaknNZH0Zw7mqfcbGWcuXheTqaJr6+JvHVnDxzzJkUBUZNvZGy7Y7PZZH097p8/V4YmEaKXKKIAAAAASUVORK5CYII=');
  background-size: 13px 13px;
  background-position: 0 0;
  height: 13px;
  width: 13px;
  border: none;
  position: absolute;
  top: 9px;
  right: 9px;
  cursor: pointer;
  font-size: 0px;
}

.searchBar input[type="submit"]:hover {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAeFBMVEUAAACJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYmJiYl3r/6iAAAAJ3RSTlMAAQMFDhMUFhcYLC02N1FfYGlydXiDhIuRuru8vt3s7e7v8PH4+fpBQVyrAAAA1ElEQVR4AYXQcW+CMBBA8cPBuk7cpgiCiFUE3/f/hksuDbmakf3+uuSl5DhR8lH1AUJfeUnl7UQ0tbktnwPGsDXlTuKxtFzfjM3OubIZ9V0eUwvQv4sqOoA27jYB/ZtEmw6Yvc4VMBayKEag0rEHGjEa4KJTAHY2lUDQCcDZ5ACyf1IAytcPXv9eowbO68sfdfQz0G2SX356c6iusIc6peetS+fKegTgINH2wav90ob1lrcz0fN0SJv46hLgej56kb1pUZaJiu1HUqbdZLXZZH3fb1+/i3YpBcVhtqwAAAAASUVORK5CYII=');
  cursor: pointer;
}

.infobar {
  position: relative;
  width: 278px;
  white-space: normal;
  border-radius: 3px;
  background-color: var(--background-orange);
  border-color: var(--border-orange);
  border-style: solid;
  border-width: 1px;
  font-size: small;
  padding: 10px;
  overflow: hidden;
  z-index: 1;
  margin-top: 5px;
  margin-bottom: 12px;
  will-change: transform;
  transition: transform 0.3s linear, visibility 0.3s linear, height 0.3s linear;
  transform-origin: top;
}

.slideDown {
  transform: scaleY(1);
  visibility: visible;
  height: 50px;
}

.lessHeight {
  height: 22px;
}

.slideUp {
  transform: scaleY(0);
  visibility: hidden;
  height: 20px;
}

.infobar label {
  display: block;
  color: var(--text);
  padding-bottom: 10px;
}

.infobar input[type="checkbox"] {
  margin: 2px .5em 0 0;
}

.searchBarWrapper {
  position: relative;
  will-change: transform;
  transition: transform 0.3s linear;
}

.contentWrapper {
  position: relative;
  will-change: transform;
  transition: transform 0.3s linear;
}