.footer {
  padding: 5px 0 20px 5px;
}

.stateString, .morePostsSuggestion {
  text-transform: lowercase;
}

.morePostsSuggestion {
  font-size: 12px;
  padding-bottom: 15px;
}

@media (max-width: 640px) {
  .morePostsSuggestion {
    font-size: 11px;
    padding-bottom: 10px;
  }
}

.morePostsSuggestion a, .link {
  color: var(--text-primary);
  text-decoration: none;
  padding: 1px 4px;
  background: var(--pagination-button-background);
  border: var(--pagination-button-border);
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
  text-transform: lowercase;
  color: var(--link-primary);
}

.morePostsSuggestion a:hover {
  border: var(--pagination-button-border-hover);
}

.feed {
  position: relative;
}

@media (max-width: 639px) {
  .content {
    padding: 7px 2px 0px 2px;
  }

  .sidebar {
    display: none;
  }
}

@media (min-width: 640px) {
  .content {
    padding: 7px 5px 0px 5px;
  }

  .stateString {
    max-width: calc(100% - 305px);
  }
}