.footer {
  padding-left: 5px;
}

.stateString {
  text-transform: lowercase;
}

@media (max-width: 768px) {
  .content {
    padding: 7px 0px 0px 0px;
  }

  .sidebar {
    display: none;
  }
}

@media (min-width: 768px) {
  .content {
    padding: 7px 5px 0px 5px;
  }

  .stateString {
    max-width: calc(100% - 305px);
  }
}