.footer {
  padding-left: 5px;
}

.stateString {
  text-transform: lowercase;
}

.feed {
  position: relative;
}

@media (max-width: 640px) {
  .content {
    padding: 7px 2px 0px 2px;
  }

  .sidebar {
    display: none;
  }
  
  .feed {
    margin-top: -5px;
  }
}

@media (min-width: 640px) {
  .content {
    padding: 7px 5px 0px 5px;
  }

  .stateString {
    max-width: calc(100% - 305px);
  }
}