.app {
  background-color: var(--background);
  font: normal x-small verdana, arial, helvetica, sans-serif;
  z-index: 1;
  min-height: 100%;
  color: var(--text-info);
  overflow-y: hidden;
  overflow-x: hidden;
  min-height: 100vh;
}