.app {
  background-color: var(--theme-background);
  font: normal 10px verdana, arial, helvetica, sans-serif;
  z-index: 1;
  min-height: 100%;
  color: var(--theme-text-info);
  overflow-y: hidden;
  overflow-x: hidden;
  min-height: 100vh;
}

textarea, input {
  background-color: var(--theme-background);
  color: var(--theme-text-input);
  border: 1px solid var(--theme-border-text);
}

select, button, input, textarea {
  filter: var(--theme-filter80);
}