.app {
  background-color: var(--background);
  font: normal 10px verdana, arial, helvetica, sans-serif;
  z-index: 1;
  min-height: 100%;
  color: var(--text-info);
  overflow-y: hidden;
  overflow-x: hidden;
  min-height: 100vh;
  color-scheme: var(--color-scheme) !important;
}

textarea, input {
  background-color: var(--background);
  color: var(--text-input);
  border: 1px solid var(--border-text);
}

select, button, input, textarea {
  filter: var(--filter80);
}