:root .dark {
  --account-dropdown-arrow: url("/public/assets/buttons/droparrowgray.gif");
  --background: #0f0f0f;
  --background-contrast: #141414;
  --background-markdown: #1f1f1f;
  --background-primary: #1f1f1f;
  --background-secondary: #3e3e3e;
  --background-orange: #4a3700;
  --background-text: #0f0f0f;
  --background-thumbnail: rgba(255, 255, 255, 0.01);
  --border-contrast: #6a6a6a;
  --border-orange: #a76d00;
  --border-primary: #1f1f1f;
  --border-text: #3e3e3e;
  --box-border-color: gray;
  --button-border-disabled: #6f6f6f34;
  --button-border-primary: #1f1f1f;
  --button-border-primary-hover: #3e3e3e;
  --button-large: url('/public/assets/buttons/button-large-dark.png');
  --button-large-disabled: url('/public/assets/buttons/button-large-disabled-dark.png');
  --button-large-hover: url('/public/assets/buttons/button-large-hover-dark.png');
  --button-large-hover-nub: url('/public/assets/buttons/button-large-nub-hover-dark.png');
  --button-large-nub: url('/public/assets/buttons/button-large-nub-dark.png');
  --button-large-nub-disabled: url('/public/assets/buttons/button-large-nub-disabled-dark.png');
  --close-button: url("/public/assets/buttons/close-button-dark.png");
  --close-button-hover: url("/public/assets/buttons/close-button-hover.png");
  --continue-thread-arrow: url('/public/assets/buttons/continue-this-thread-arrow-dark.png');
  --code-background: rgb(19, 19, 13);
  --code-border: rgb(52, 58, 60);
  --filter80: brightness(80%);
  --filter90: brightness(90%);
  --gray: #3e3e3e;
  --gray-border: #3e3e3e;
  --gray-button-text: #aaa;
  --gray-contrast: #c7c7c7;
  --gray-footer: rgb(168, 160, 147);
  --gray-footer-separator: #6a6a6a;
  --gray-light: #3e3e3e9d;
  --gray-overlay: #1f1f1f;
  --gray-overlay-border: #3e3e3e;
  --green: #228822;
  --green-bright: rgb(76, 207, 92);
  --icon: #c6c6c6;
  --link: #bfbfbf;
  --link-primary: rgb(125, 175, 216);
  --link-visited: #757575;
  --markdown-blockquote: rgb(185, 178, 168);
  --markdown-blockquote-border: rgb(65, 70, 73);
  --markdown-link: rgb(74, 183, 255);
  --orange: #FF7500;
  --over18image: url("/public/assets/over18.png");
  --over18-alert-color: #ffffff;
  --pagination-button-background: rgb(29, 31, 34);
  --pagination-button-border: 1px solid rgb(55, 59, 62);
  --pagination-button-border-hover: 1px solid #5a728a;
  --play-button: url("/public/assets/buttons/play-button-dark.png");
  --play-button-hover: url("/public/assets/buttons/play-button-hover.png");
  --red: rgb(255, 21, 21);
  --red-nsfw: rgb(255, 55, 89);
  --removed-reply-backgrouhd-color: rgb(27, 30, 32);
  --submitter-color: rgb(67, 166, 255);
  --text: #bfbfbf;
  --text-button: url("/public/assets/buttons/text-button-dark.png");
  --text-button-hover: url("/public/assets/buttons/text-button-hover.png");
  --text-input: white;
  --text-info: #757575;
  --text-markdown: #f0f0f0;
  --text-primary: #c7c7c7;
  --thumbnail-icon-link: url('/public/assets/thumbnail-icon-link-dark.png');
  --thumbnail-icon-nsfw: url('/public/assets/thumbnail-icon-nsfw-dark.png');
  --thumbnail-icon-spoiler: url('/public/assets/thumbnail-icon-spoiler-dark.png');
  --thumbnail-icon-text: url('/public/assets/thumbnail-icon-text-dark.png');
  --yellow: rgb(200, 171, 0);
  --yellow-box-background: rgb(56, 45, 0);
  --yellow-box-contrast: rgb(163, 130, 0);
  --yellow-box-icon: rgb(130, 103, 0);
  --yellow-highlight: rgb(58, 50, 0);
  --yellow-table: rgb(130, 103, 0);
}

:root .light {
  --account-dropdown-arrow: url("/public/assets/buttons/droparrowblue.gif");
  --background: white;
  --background-contrast: #E4F2FB;
  --background-markdown: #fafafa;
  --background-orange: #f6e69f;
  --background-primary: #cee3f8;
  --background-secondary: #eff7ff;
  --background-text: #f0f0f0;
  --background-thumbnail: rgba(0, 0, 0, 0.05);
  --border-contrast: black;
  --border-orange: #ffa500;
  --border-primary: #5f99cf;
  --border-text: gray;
  --box-border-color: #8D9CAA;
  --button-border-disabled: #dadada;
  --button-border-primary: #c4dbf1;
  --button-border-primary-hover: #879eb4;
  --button-large: url('/public/assets/buttons/button-large.png');
  --button-large-disabled: url('/public/assets/buttons/button-large-disabled.png');
  --button-large-hover: url('/public/assets/buttons/button-large-hover.png');
  --button-large-hover-nub: url('/public/assets/buttons/button-large-nub-hover.png');
  --button-large-nub: url('/public/assets/buttons/button-large-nub.png');
  --button-large-nub-disabled: url('/public/assets/buttons/button-large-nub-disabled.png');
  --close-button: url("/public/assets/buttons/close-button.png");
  --close-button-hover: url("/public/assets/buttons/close-button-hover.png");
  --continue-thread-arrow: url('/public/assets/buttons/continue-this-thread-arrow.png');
  --code-background: #fcfcfb;
  --code-border: #e6e6de;
  --filter80: brightness(100%);
  --filter90: brightness(100%);
  --gray: #c0c0c0;
  --gray-border: #ddd;
  --gray-button-text: #aaa;
  --gray-contrast: #888;
  --gray-footer: dimgray;
  --gray-footer-separator: rgb(151, 151, 151);
  --gray-light: #ccc;
  --gray-overlay: #F7F7F7;
  --gray-overlay-border: #E9E9E9;
  --green: #228822;
  --green-bright: #3bc54c;
  --icon: #c6c6c6;
  --link: #0000ff;
  --link-primary: #369;
  --link-visited: #551a8b;
  --markdown-blockquote: #4f4f4f;
  --markdown-blockquote-border: #c5c1ad;
  --markdown-link: #0079d3;
  --orange: #FF7500;
  --over18image: url("/public/assets/over18.png");
  --over18-alert-color: #ffffff;
  --pagination-button-background: #eee;
  --pagination-button-border: 1px solid #ddd;
  --pagination-button-border-hover: 1px solid #82A6C9;
  --play-button: url("/public/assets/buttons/play-button.png");
  --play-button-hover: url("/public/assets/buttons/play-button-hover.png");
  --red: red;
  --red-nsfw: #d10023;
  --removed-reply-backgrouhd-color: #f0f0f0;
  --submitter-color: #0055df;
  --text: black;
  --text-button: url("/public/assets/buttons/text-button.png");
  --text-button-hover: url("/public/assets/buttons/text-button-hover.png");
  --text-input: black;
  --text-info: #888;
  --text-markdown: #222222;
  --text-primary: #369;
  --thumbnail-icon-link: url('/public/assets/thumbnail-icon-link.png');
  --thumbnail-icon-nsfw: url('/public/assets/thumbnail-icon-nsfw.png');
  --thumbnail-icon-spoiler: url('/public/assets/thumbnail-icon-spoiler.png');
  --thumbnail-icon-text: url('/public/assets/thumbnail-icon-text.png');
  --yellow: goldenrod;
  --yellow-box-background: #fff7d7;
  --yellow-box-contrast: #ffd634;
  --yellow-box-icon: #ffd634;
  --yellow-highlight: #ffc;
  --yellow-table: #ffff99;
}
