:root .light {
  --orange: #FF7500;
  --green: #228822;
  --yellow: goldenrod;
  --box-yellow-contrast: #ffd634;
  --box-yellow-background: #fff7d7;
  --box-yellow-icon: #ffd634;
  --code-background: #fcfcfb;
  --code-border: #e6e6de;
  --red: red;
  --gray-contrast: #888;
  --gray-overlay: #F7F7F7;
  --gray-overlay-border: #E9E9E9;
  --gray-border: #ddd;
  --gray-light: #ccc;
  --box-shadow-modal: 4px 4px 4px #ccc;
  --box-shadow-input: inset 0px 1px 1px rgba(0,0,0,0.3),0px 1px 0px rgba(255,255,255,0.6);
  --filter80: brightness(100%);
  --filter90: brightness(100%);
  --background: white;
  --background-primary: #cee3f8;
  --background-secondary: #eff7ff;
  --background-text: #f0f0f0;
  --background-thumbnail: rgba(0, 0, 0, 0.05);
  --background-markdown: #fafafa;
  --background-contrast: #E4F2FB;
  --background-orange: #f6e69f;
  --text: black;
  --text-input: black;
  --text-markdown: #222222;
  --text-primary: #369;
  --button-border-primary: #c4dbf1;
  --button-border-primary-hover: #879eb4;
  --text-info: #888;
  --border-primary: #5f99cf;
  --border-text: gray;
  --border-orange: #ffa500;
  --link: #0000ff;
  --link-visited: #551a8b;
  --icon: #c6c6c6;
  --text-button: url("/public/assets/buttons/text-button.png");
  --text-button-hover: url("/public/assets/buttons/text-button-hover.png");
  --play-button: url("/public/assets/buttons/play-button.png");
  --play-button-hover: url("/public/assets/buttons/play-button-hover.png");
  --close-button: url("/public/assets/buttons/close-button.png");
  --close-button-hover: url("/public/assets/buttons/close-button-hover.png");
  --button-large: url('/public/assets/buttons/button-large.png');
  --button-large-hover: url('/public/assets/buttons/button-large-hover.png');
  --button-large-nub: url('/public/assets/buttons/button-large-nub.png');
  --button-large-hover-nub: url('/public/assets/buttons/button-large-nub-hover.png');
  --account-dropdown-arrow: url("/public/assets/buttons/droparrowblue.gif");
}

:root .dark {
  --orange: #FF7500;
  --green: #228822;
  --yellow: rgb(200, 171, 0);
  --box-yellow-contrast: rgb(163, 130, 0);
  --box-yellow-background: rgb(56, 45, 0);
  --box-yellow-icon: rgb(130, 103, 0);
  --code-background: rgb(19, 19, 13);
  --code-border: rgb(52, 58, 60);
  --red: rgb(200, 0, 0);
  --gray-contrast: #c7c7c7;
  --gray-overlay: #1f1f1f;
  --gray-overlay-border: #3e3e3e;
  --gray-border: #3e3e3e;
  --gray-light: #3e3e3e9d;
  --box-shadow-modal: 4px 4px 4px #000;
  --box-shadow-input: none;
  --filter80: brightness(80%);
  --filter90: brightness(90%);
  --background: #0f0f0f;
  --background-primary: #1f1f1f;
  --background-secondary: #3e3e3e;
  --background-text: #0f0f0f;
  --background-thumbnail: rgba(255, 255, 255, 0.01);
  --background-markdown: #1f1f1f;
  --background-contrast: #141414;
  --background-orange: #4a3700;
  --text: #bfbfbf;
  --text-input: white;
  --text-markdown: #f0f0f0;
  --text-primary: #c7c7c7;
  --button-border-primary: #1f1f1f;
  --button-border-primary-hover: #3e3e3e;
  --text-info: #757575;
  --border-primary: #1f1f1f;
  --border-text: #3e3e3e;
  --border-orange: #a76d00;
  --link: #bfbfbf;
  --link-visited: #757575;
  --icon: #c6c6c6;
  --text-button: url("/public/assets/buttons/text-button-dark.png");
  --text-button-hover: url("/public/assets/buttons/text-button-hover.png");
  --play-button: url("/public/assets/buttons/play-button-dark.png");
  --play-button-hover: url("/public/assets/buttons/play-button-hover.png");
  --close-button: url("/public/assets/buttons/close-button-dark.png");
  --close-button-hover: url("/public/assets/buttons/close-button-hover.png");
  --button-large: url('/public/assets/buttons/button-large-dark.png');
  --button-large-hover: url('/public/assets/buttons/button-large-hover-dark.png');
  --button-large-nub: url('/public/assets/buttons/button-large-nub-dark.png');
  --button-large-hover-nub: url('/public/assets/buttons/button-large-nub-hover-dark.png');
  --account-dropdown-arrow: url("/public/assets/buttons/droparrowgray.gif");
}