:root .dark {
  --theme-account-dropdown-arrow: var(--droparrowgray);
  --theme-background: #0f0f0f;
  --theme-background-contrast: #141414;
  --theme-background-markdown: #1f1f1f;
  --theme-background-primary: #1f1f1f;
  --theme-background-secondary: #3e3e3e;
  --theme-background-orange: #4a3700;
  --theme-background-text: #0f0f0f;
  --theme-background-thumbnail: rgba(255, 255, 255, 0.01);
  --theme-border-contrast: #6a6a6a;
  --theme-border-orange: #a76d00;
  --theme-border-primary: #1f1f1f;
  --theme-border-text: #3e3e3e;
  --theme-box-border-color: gray;
  --theme-button-border-disabled: #6f6f6f34;
  --theme-button-border-primary: #1f1f1f;
  --theme-button-border-primary-hover: #3e3e3e;
  --theme-button-large: var(--button-large-dark);
  --theme-button-large-disabled: var(--button-large-disabled-dark);
  --theme-button-large-hover: var(--button-large-hover-dark);
  --theme-button-large-hover-nub: var(--button-large-nub-hover-dark);
  --theme-button-large-nub: var(--button-large-nub-dark);
  --theme-button-large-nub-disabled: var(--button-large-nub-disabled-dark);
  --theme-button-link-background-hover: rgb(38, 42, 43);
  --theme-close-button: var(--close-button-dark);
  --theme-close-button-hover: var(--close-button-hover);
  --theme-continue-thread-arrow: var(--continue-this-thread-arrow-dark);
  --theme-code-background: rgb(19, 19, 13);
  --theme-code-border: rgb(52, 58, 60);
  --theme-droparrow-topbar: var(--droparrowgray);
  --theme-filter80: brightness(80%);
  --theme-filter90: brightness(90%);
  --theme-gray: #3e3e3e;
  --theme-gray-border: #3e3e3e;
  --theme-gray-button-text: #aaa;
  --theme-gray-contrast: #c7c7c7;
  --theme-gray-footer: rgb(168, 160, 147);
  --theme-gray-footer-separator: #6a6a6a;
  --theme-gray-light: #3e3e3e9d;
  --theme-gray-overlay: #1f1f1f;
  --theme-gray-overlay-border: #3e3e3e;
  --theme-green: #228822;
  --theme-green-bright: rgb(76, 207, 92);
  --theme-icon: #c6c6c6;
  --theme-link: #bfbfbf;
  --theme-link-primary: rgb(125, 175, 216);
  --theme-link-visited: #757575;
  --theme-markdown-blockquote: rgb(185, 178, 168);
  --theme-markdown-blockquote-border: rgb(65, 70, 73);
  --theme-markdown-link: rgb(74, 183, 255);
  --theme-orange: #FF7500;
  --theme-over18image: var(--over18);
  --theme-over18-alert-color: #ffffff;
  --theme-pagination-button-background: rgb(29, 31, 34);
  --theme-pagination-button-border: 1px solid rgb(55, 59, 62);
  --theme-pagination-button-border-hover: 1px solid #5a728a;
  --theme-play-button: var(--play-button-dark);
  --theme-play-button-hover: var(--play-button-hover);
  --theme-red: rgb(255, 21, 21);
  --theme-red-nsfw: rgb(255, 55, 89);
  --theme-removed-reply-backgrouhd-color: rgb(27, 30, 32);
  --theme-submitter-color: rgb(67, 166, 255);
  --theme-text: #bfbfbf;
  --theme-text-button: var(--text-button-dark);
  --theme-text-button-hover: var(--text-button-hover);
  --theme-text-input: white;
  --theme-text-info: #757575;
  --theme-text-markdown: #f0f0f0;
  --theme-text-primary: #c7c7c7;
  --theme-thumbnail-icon-link: var(--thumbnail-icon-link-dark);
  --theme-thumbnail-icon-nsfw: var(--thumbnail-icon-nsfw-dark);
  --theme-thumbnail-icon-spoiler: var(--thumbnail-icon-spoiler-dark);
  --theme-thumbnail-icon-text: var(--thumbnail-icon-text-dark);
  --theme-yellow: rgb(200, 171, 0);
  --theme-yellow-box-background: rgb(56, 45, 0);
  --theme-yellow-box-contrast: rgb(163, 130, 0);
  --theme-yellow-box-icon: rgb(130, 103, 0);
  --theme-yellow-highlight: rgb(58, 50, 0);
  --theme-yellow-table: rgb(130, 103, 0);
  --theme-x-button: var(--close-x-button);
  --theme-x-button-hover: var(--close-x-button);
}

:root .light {
  --theme-account-dropdown-arrow: var(--droparrowblue);
  --theme-background: white;
  --theme-background-contrast: #E4F2FB;
  --theme-background-markdown: #fafafa;
  --theme-background-orange: #f6e69f;
  --theme-background-primary: #cee3f8;
  --theme-background-secondary: #eff7ff;
  --theme-background-text: #f0f0f0;
  --theme-background-thumbnail: rgba(0, 0, 0, 0.05);
  --theme-border-contrast: black;
  --theme-border-orange: #ffa500;
  --theme-border-primary: #5f99cf;
  --theme-border-text: gray;
  --theme-box-border-color: #8D9CAA;
  --theme-button-border-disabled: #dadada;
  --theme-button-border-primary: #c4dbf1;
  --theme-button-border-primary-hover: #879eb4;
  --theme-button-large: var(--button-large);
  --theme-button-large-disabled: var(--button-large-disabled);
  --theme-button-large-hover: var(--button-large-hover);
  --theme-button-large-hover-nub: var(--button-large-nub-hover);
  --theme-button-large-nub: var(--button-large-nub);
  --theme-button-large-nub-disabled: var(--button-large-nub-disabled);
  --theme-button-link-background-hover: #c7def7;
  --theme-close-button: var(--close-button);
  --theme-close-button-hover: var(--close-button-hover);
  --theme-continue-thread-arrow: var(--continue-this-thread-arrow);
  --theme-code-background: #fcfcfb;
  --theme-code-border: #e6e6de;
  --theme-droparrow-topbar: var(--droparrowgray);
  --theme-filter80: brightness(100%);
  --theme-filter90: brightness(100%);
  --theme-gray: #c0c0c0;
  --theme-gray-border: #ddd;
  --theme-gray-button-text: #aaa;
  --theme-gray-contrast: #888;
  --theme-gray-footer: dimgray;
  --theme-gray-footer-separator: rgb(151, 151, 151);
  --theme-gray-light: #ccc;
  --theme-gray-overlay: #F7F7F7;
  --theme-gray-overlay-border: #E9E9E9;
  --theme-green: #228822;
  --theme-green-bright: #3bc54c;
  --theme-icon: #c6c6c6;
  --theme-link: #0000ff;
  --theme-link-primary: #369;
  --theme-link-visited: #551a8b;
  --theme-markdown-blockquote: #4f4f4f;
  --theme-markdown-blockquote-border: #c5c1ad;
  --theme-markdown-link: #0079d3;
  --theme-orange: #FF7500;
  --theme-over18image: url("/public/assets/over18.png");
  --theme-over18-alert-color: #ffffff;
  --theme-pagination-button-background: #eee;
  --theme-pagination-button-border: 1px solid #ddd;
  --theme-pagination-button-border-hover: 1px solid #82A6C9;
  --theme-play-button: var(--play-button);
  --theme-play-button-hover: var(--play-button-hover);
  --theme-red: red;
  --theme-red-nsfw: #d10023;
  --theme-removed-reply-backgrouhd-color: #f0f0f0;
  --theme-submitter-color: #0055df;
  --theme-text: black;
  --theme-text-button: var(--text-button);
  --theme-text-button-hover: var(--text-button-hover);
  --theme-text-input: black;
  --theme-text-info: #888;
  --theme-text-markdown: #222222;
  --theme-text-primary: #369;
  --theme-thumbnail-icon-link: var(--thumbnail-icon-link);
  --theme-thumbnail-icon-nsfw: var(--thumbnail-icon-nsfw);
  --theme-thumbnail-icon-spoiler: var(--thumbnail-icon-spoiler);
  --theme-thumbnail-icon-text: var(--thumbnail-icon-text);
  --theme-yellow: goldenrod;
  --theme-yellow-box-background: #fff7d7;
  --theme-yellow-box-contrast: #ffd634;
  --theme-yellow-box-icon: #ffd634;
  --theme-yellow-highlight: #ffc;
  --theme-yellow-table: #ffff99;
  --theme-x-button: var(--close-x-button-large);
  --theme-x-button-hover: var(--close-x-button-large-hover);
}
