.content {
  padding: 7px 5px 0px 5px;
  margin-bottom: 25px;
}

.replyArea {
  margin: 0;
  padding: 0;
}

.repliesTitle {
  border-bottom-color: rgb(84, 91, 94);
  padding-bottom: 3px;
  border-bottom: 1px dotted gray;
  margin: 10px 10px 0px 10px;
  max-width: calc(100vw - 340px);
}

.title {
  font-size: 16px;
  font-weight: normal;
  margin: 10px 0;
  color: var(--text);
  text-transform: lowercase;
}

.menuArea {
  border-color: currentcolor;
  color: rgb(152, 143, 129);
  border: none;
  margin: 0 10px 10px 10px;
  padding: 0;
  overflow: hidden;
  font-size: larger;
}

.spacer {
  display: inline;
  margin-right: 15px;
}

.loadingString {
  padding: 5px;
}

.dropdown {
  display: inline;
  position: relative;
}

.selected {
  background-color: rgba(0, 0, 0, 0);
  background: none no-repeat scroll center right;
  background-image: url("/public/assets/buttons/droparrowgray.gif");
  text-decoration-color: currentcolor;
  color: rgb(152, 143, 129);
  position: relative;
  padding-right: 21px;
  text-decoration: underline;
  color: gray;
  font-weight: bold;
}

.singleCommentInfobar {
  max-width: 100%;
  background-color: var(--background-orange);
  border-color: var(--border-orange);
  border-style: solid;
  border-width: 1px;
  font-size: 13px;
  padding: 5px 10px;
  z-index: 999;
  color: var(--text);
  word-wrap: break-word;
  text-transform: lowercase;
  display: flex;
  flex-direction: column;
  margin-bottom: -5px;
}

.singleCommentInfobar a {
  color: var(--link-primary);
}

.replies {
  max-width: 80em;
  margin-left: 3px;
}

.stateString {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100vw - 28px);
  width: 100vw;
  color: var(--text-info);
  font-size: x-small;
}

.lockedInfobar::before {
  content: '';
  display: block;
  width: 45px;
  height: 100%;
  background-color: var(--yellow-box-icon);
  position: absolute;
  left: 0;
  top: 0;
  background-position: center;
  background-image: url('/public/assets/locked-icon.png');
  background-size: 20px 25px;
  background-repeat: no-repeat;
}

.lockedInfobar {
  min-height: 45px;
  padding-left: 55px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: var(--yellow-box-background);
  border-color: var(--yellow-box-contrast);
  border-style: solid;
  border-width: 1px;
  margin-bottom: 10px;
  overflow: auto;
  padding: 10px;
  position: relative;
}

.lockedInfobarText {
  font-size: 12px;
  color: var(--text-markdown);
  unicode-bidi: isolate;
  max-width: 60em;
  word-wrap: break-word;
  line-height: 1.25em;
  margin: 5px 0;
  padding-left: 45px;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .singleCommentInfobar {
    max-width: 100%;
  }

  .repliesTitle {
    max-width: 100vw;
  }
}